<div{{ attributes }}>
  <div class="carousel-inner">
    {% for index, item in items %}
      <div class="item {% if loop.first == true %} active {% endif %}">
      {{ item }}
      </div>
    {% endfor %}
  </div>
  {% if settings.bootstrap_carousel_settings.controls == 1 and items|length > 1 %}
    <a class="left carousel-control" href="#{{ html_id }}" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#{{ html_id }}" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  {% endif %}
  
  {% if settings.bootstrap_carousel_settings.dots == 1 and items|length > 1 %}
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for index, item in items %}
      <li data-target="#{{ html_id }}" data-slide-to="{{ index }}" class="{% if loop.first == true %}active{% endif %}"></li>
    {% endfor %}
  </ol>
  {% endif %}
</div>