{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}

<article{{ attributes.addClass('profile-detail') }}>
    <div class="card">
        <div class="card-header">
            <div class="name-user">
                {{ content.field_ho_va_ten }}  {{ content.flag_following }}
            </div>
            <div class="info-follow-user">
				<div class="user-follow">
					<div class="count-user-follow">
						{{ count_user_follow }}
					</div>
					{{ user_follow_list }}
				</div>
				<div class="follow-user">
					<div class="count-follow-user">
						{{ count_follow_user }}
					</div>
					{{ follow_user_list }}
				</div>
            </div>
        </div>
        <div class="card-body">
            <div class="left-info-user">
                {{ content.user_picture }} 
            </div>
            <div class="right-info-user">
                {{ content.field_gioi_tinh }} 
                {{ content.field_nam_sinh }} 
                {{ content.field_gioi_thieu }} 
            </div>
            {% set current_uid = current_uid() %}
            {% if user.id == current_uid %}
                <div class="btn-edit-user"><a href="/user/{{ user.id }}/edit">{{ 'Chỉnh sửa'|t }}</a></div>
            {% endif %}
        </div>
    </div>
    <div class="album-picture profile-picture">
        <div class="album-header">
            <ul class="album-nav">
                <li>
                    <a data-product="profile-picture" class="active" href="#">{{ 'Ảnh của tôi'|t }}</a>
                </li>
                <li>
                    <a data-product="product-wishlist" href="#">{{ 'Ảnh đã lưu'|t }}</a>
                </li>
            </ul>
        </div>
        <div class="album-content">
            <div class="user-product">
                {{ embed_view('product', 'profile_product', user.id) }}
            </div>
            <div class="wishlist-product">
                {{ wishlist_product() }}
            </div>
        </div>
    </div>
</article>