{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}

<article{{ attributes.addClass('profile-user') }}>
	 <div class="user-picture">
		{{ content.user_picture }} 
	</div>
	<div class="profile-content">
		<div class="user-name"><span>{{ 'Được đăng bởi '|t }}</span>{{ content.field_ho_va_ten }}</div>
		<div class="user-proccess">
			<div class="user-follow">{{ content.flag_following }}</div>
			<div class="user-report">
				<i class="fa fa-flag-o"></i>
				<a href="#">{{ 'Report'|t }}</a>
			</div>
		</div>
	</div>
</article>