.custom-input-upload-file {
	border: 2px dashed #5d6f85;
	border-radius: 5px;
	background: #eceff0;
	min-height: 150px;
	padding: 30px 54px;
	cursor: pointer;
	margin-bottom: 40px;
}

.custom-input-upload-file .dz-message {
	text-align: center;
	margin: 0px 0;
	font-size: 1.5rem;
	color: #5d6f85;
}

.custom-input-upload-file .dz-message .note {
	font-size: 1.5rem;
	color: #5d6f85;
	display: block;
	margin-top: 1.4rem;
}

.custom-input-upload-file .btn {
	border: 1px solid #c3c5c6;
	border-radius: 5px;
	background: #fff;
	padding: 10px;
	display: inline-block;
	margin-top: 20px;
	font-size: 1rem;
	color: #5d6f85;
}

.wrapper-form-add-picture  {
	padding: 20px 0 50px;
}

.wrapper-form-add-picture .header-title h2 {
	margin-bottom: 30px;
}

.dz-success-mark,
.dz-error-mark {
	display: none;
}

.custom-input-upload-file .dz-progress {
	display: -ms-flexbox;
	display: flex;
	height: 1rem;
	overflow: hidden;
	font-size: .75rem;
	background-color: #e9ecef;
	border-radius: .25rem;
}

.custom-input-upload-file .dz-preview.dz-processing {
	text-align: center;
}

.custom-input-upload-file .dz-upload {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #fff;
	background-color: #007bff;
}

.wrapper-form-add-picture  label.form-required {
	display: none;
}

.wrapper-form-add-picture .form-item-categories label.form-required ,
.wrapper-form-add-picture .form-item-dung-cu label
{
	display: block;
}

.wrapper-form-add-picture label,
label.option
{
	color: #5d6f85;
	font-size: 1rem;
}

.form-item-download-file-1 .wrapper-field-input:after{
	background: url('../images/icon_download.jpg') no-repeat;
	width: 14px;
	height: 15px;
	content: ' ';
	display: inline-block;
	margin-left: 10px;
}

.wrapper-image-picture {
	padding: 20px;
	background: #eceff0;
	border-radius: 5px;
	display: none;
}

.wrapper-form-add-picture .d-print-table.border {
	display: none;
}

.wrapper-form-add-picture input.form-control, 
.wrapper-form-add-picture select.form-control {
	display: block;
	width: 100%;
	border-radius: 3px;
	border-color: #5d6f85;
	
}

.wrapper-form-add-picture input[type='text'].form-control {
	padding: 11px .75rem;
}

.form-textarea-wrapper .form-textarea {
	border-radius: 3px;
	border-color: #5d6f85;
}

.wrapper-form-add-picture  label[for="edit-description"] {
	display: none;
}

.form-item-policy {
	overflow: hidden;
}

.form-item-policy-1 .wrapper-field-input ,
.form-item-download-file-1 .wrapper-field-input 
{
	float: left;
	margin-right: 10px;
}

.form-item-policy-1 a.use-ajax {
	color: #bd081b;
}

.form-item-download-file label:before {

}

.wrapper-form-add-picture.form-step-2 .button.btn {
	width: 100%;
	margin-bottom: 15px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 100px;
	padding: 14px 20px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background: #c3c5c6;
	cursor: pointer;
    opacity: 1;
}

.wrapper-form-add-picture.form-step-2 .button.btn:hover {
	background: #bd081b;
}

.wrapper-form-add-picture.form-step-2 .wrapper-form-action {
	margin-top: 50px;
}

.wrapper-form-add-picture.form-step-2 .col-md-4 {
	padding-bottom: 165px; 
}
.select2-container--default{
    display: block;
    width: 100% !important;
}
.select2-container--default .select2-selection--multiple {
	border-radius: 3px;
	border-color: #5d6f85;
	min-height: 36px;
	color: #5d6f85;
    margin: 0;
    padding: 10px;
}
.select2-container--default .select2-search--inline .select2-search__field{
    margin: 0;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
	vertical-align: top;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
	margin-top: 3px;
}

.wrapper-form-add-picture .form-item-display-image-style {
	text-align: right;
}

.wrapper-form-add-picture .form-item-display-image-style select.form-control {
	display: inline-block;
	width: auto;
} 

@media (min-width: 768px) {
	.form-item-display-image-style {
		text-align: center;
	}
	
	.form-item-display-image-style label {
		display: inline-block;
		margin-right: 15px;
	}
	
	.form-item-display-image-style .form-control {
		display: inline-block;
		width: auto;
	}

	.form-item-categories {
		margin-top: 0px;
	}
}