/* Builder row */
.builder-row.row-flex{
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.builder-row.row-flex:before, .builder-row.row-flex:after{
  width: 0;
  display: none;
}
/*Skillbar*/
.dexp-builder-skill-bar{
  margin-top: 30px;
}
.dexp-builder-skill-bar .progress{
  overflow: visible;
}
.dexp-builder-skill-bar .progress-bar{
  position: relative;
}
.dexp-builder-skill-bar .progress-title{
  position: absolute;
  color: #000;
  text-align: initial;
  width: 100%;
}
.dexp-builder-skill-bar .progress-percent{
  right: 0;
  position: absolute;
}

.dexp-builder-title.backword .dexp-title{
  position: relative;
  z-index: 0;
}
.dexp-builder-title.backword .dexp-title:before{
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.middle-center{
  position: relative;
}
.middle-center >*{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.dexp-clearfix{
  clear: both;
}