 <li{{ attributes.addClass(classes, 'comment-row') }}>
   <div class="comment-avatar">
	 {% if user_picture is not empty %}
		 {{ user_picture }}
	{% else %}
		<div class="avatar-default"></div>
	{% endif %}
  	</div>
      <div class='comment-content'>
        <h4 class="comment-heading">
            {{ author }}
        </h4>
		<span class="comment-date">{{ createdtime | date("m-d-Y h:i A") }}</span>
        <div{{ content_attributes.addClass('comment-text') }}>
            {{ content }}
         </div>
      </div>
 </li>
