<div{{ attributes.addClass(classes).setAttribute('id', 'comments-wrapper') }}>
	{% if comments %}
        {% if comment_form %}
            <div class="comment-form-wrapper">
                {% if user_picture is not empty %}
                    {{ user_picture }}
                {% else %}
                    <div class="avatar-default"></div>
                {% endif %}
                {{ comment_form }}
            </div>
        {% endif %}
        
		<ul class="media-list">
			{{ comments }}
		</ul>
	{% endif %}

	{% if comment_form %}
		<div class="comment-form-wrapper">
			{% if user_picture is not empty %}
				{{ user_picture }}
			{% else %}
				<div class="avatar-default"></div>
			{% endif %}
			{{ comment_form }}
		</div>
	{% endif %}
</div>

