{#
/**
 * @file
 * Default theme implementation for flag links.
 *
 * Available variables:
 * - attributes: HTML attributes for the link element.
 * - title: The flag link title.
 * - action: 'flag' or 'unflag'
 * - flag: The flag object.
 * - flaggable: The flaggable entity.
 */
#}
{% spaceless %}
{# Attach the flag CSS library.#}
{{ attach_library('flag/flag.link') }}

{# Depending on the flag action, set the appropriate action class. #}
{% if action == 'unflag' %}
    {% set action_class = 'action-unflag' %}
{% else %}
    {% set action_class = 'action-flag' %}
{% endif %}

{# Set the remaining Flag CSS classes. #}
{%
  set classes = [
    'flag',
    'flag-' ~ flag.id()|clean_class,
    'js-flag-' ~ flag.id()|clean_class ~ '-' ~ flaggable.id(),
    action_class
  ]
%}
{%
  set classes_anonymous = [
    'flag',
    'flag-' ~ flag.id()|clean_class,
  ]
%}

{# Set nofollow to prevent search bots from crawling anonymous flag links #}
{% set attributes = attributes.setAttribute('rel', 'nofollow') %}
{% set current_uid = current_uid() %}
{% if current_uid == 0 %}
	<div class="{{ classes_anonymous|join(' ') }}">
		<a class="use-ajax login-popup-form flag-like-button" href="/user/login" data-dialog-type='modal' data-dialog-options='{"width":350}'>{{ title }}</a>
		{% if flag.id() == 'like' %}
			{{ count_l }}
			{{ like_list }}
		{% endif %}
	</div>
{% else %}
	<div class="{{ classes|join(' ') }}">
		<a{{ attributes.addClass('flag-like-button') }}>{{ title }}</a>
		{% if flag.id() == 'like' %}
			{{ count_l }}
			{{ like_list }}
		{% endif %}
	</div>
{% endif %}
{% endspaceless %}
