<div{{ attributes }}>
  <div class="{{class}}">
    <div class="stats-icon">
      <i class="{% if icon is not empty %} {{ icon }} {% endif %}"></i>
    </div>
    <div class="stat-count">{{ number }}</div>
    <div class="stat-title">{{ title }}</div>
    <div class="stats-description">{{ text }}</div>
  </div>
</div>