<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="{{ html_id }}">
    <h4 class="panel-title">
      <a role="button" class="{% if expanded %}{% else %}collapsed{% endif %}" data-toggle="collapse" data-parent="#PLACEHODER_ID" href="#{{ html_id }}-content" aria-expanded="{% if expanded %}true{% else %}false{% endif %}" aria-controls="{{ html_id }}-content">
        {% if icon is not empty %}<i class="{{icon}}"></i> {% endif %}{{ title }}
      </a>
    </h4>
  </div>
  <div id="{{ html_id }}-content" class="panel-collapse collapse{% if expanded %} in show{% endif %}" role="tabpanel" aria-labelledby="{{ html_id }}">
    <div class="panel-body">
      {{ content|raw }}
    </div>
  </div>
</div>