<div{{ attributes.setAttribute('id', html_id) }}>
  <h2 class="dexp-title">{{ title|raw }}</h2>
  {% if subtitle is not empty %}
    <p class="dexp-subtitle">{{ subtitle|raw }}</p>
  {% endif %}
</div>
{% if backword is not empty %}
  <style type="text/css">
    #{{ html_id }} .dexp-title:before{
      content:"{{ backword|raw }}";
      display: block;
    }
  </style>
{% endif %}