<div{{ attributes }}>
    {% for marker in markers %}
        <div class="dexp-builder-gmap-marker" data-icon="{{ marker.icon }}" data-lng="{{ marker.lng }}" data-lat="{{ marker.lat }}" data-image="{{ marker.image }}">{{ marker.title }}</div>
    {% endfor %}
</div>