<div{{ attributes.addClass('dexp-builder-box') }}>
  {% if (icon or icon_text) %}
    <div{{ icon_attributes.addClass('box-icon') }}>{% if use_text %}<i class="icon-text">{{ icon_text }}</i>{% else %}<i class="{{ icon }}"></i>{% endif %}</div>
  {% endif %}
  {% if (icon_image) %}
    <div{{ icon_attributes.removeClass('box-icon').addClass('box-image')}}>{{ icon_image|raw }}</div>
  {% endif%}
  <div class="box-content-wrapper">
  {% if title %}
    <h3 class="box-title">{% if box_link and read_more %}<a href="{{ box_link }}">{% endif %}{{ title|raw }}{% if box_link %}</a>{% endif %}</h3>
  {% endif %}
  {% if content %}
    <div class="box-content">{{ content|raw }}</div>
  {% endif %}
  {% if read_more %}
    <a class="read-more" href="{{ box_link }}" target="{{link_target}}">{{ read_more }}</a>
  {% endif%}
  </div>
</div>