.btn {
	@media (min-width: 768px) {
	}
	display: inline-block;
	font-size: 18px;
		background: #535353;
		padding: 13px 70px;
		@media (max-width: 767px) {
			padding: 9px 30px;
		}
		border: 0px;
		font-weight: 400;
		color: #fff;
		border-radius:30px;
		@include transition(.3s);
		margin-right: 0;
		word-spacing: 6px;
		&:hover {
			background: $color_primary;
			color: $color_white;
			border-color: $color_primary;
	}
	&.btn-typeb {
		font-size: 16px;
		background: none;
		border: 2px solid $color_primary;
		padding-left: 30px;
		padding-right: 30px;
		color: $color_primary;
		font-weight: 600;
		&:hover {
			color: #fff;
			background: $color_primary;
		}
	}
}

form {
	.form-actions {
		.btn {
			margin-right: 0;
			border: 0px;
			color: #fff;
			&:hover {
				background: $color_primary;
				color: $color_white;
				border-color: $color_primary;
			}
		}
	}
}
