.wrapper-region-content-footer-top {
  margin-top: 80px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  @include mobile {
    margin-top: 30px;
  }
  a {
    color: #fff;
    &:hover {
      color: $color_primary;
    }
  }
  background: $bg_footer_top;
  padding: 60px 0 60px;
  font-size: 15px;
  color: #f5f5f5;
  h2 {
    font-size: 16px;
    color: $color_primary;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    @include mobile {
      margin-bottom: 15px;
    }
  }
  ul {
    padding: 0;
    list-style: none;
    li {
      a {
        padding: 0;
        display: inline-block;
        color: #f5f5f5;
        font-size: 14px;
        background: none !important;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1px;
        &:hover {
        }
      }
      &:not(:last-child) {
        margin-bottom: 14px;
      }
    }
  }
  .footer-first {
    border-right: 1px solid #515151;
    .content-block {
      img {
        margin-bottom: 0px;
      }
      p {
        line-height: 32px;
        font-size: 14px;
      }
    }
  }
  .footer-second {
    h2 {
    }
    @media (min-width:1230px) {
      padding-left: 50px;
    }
  }
  .footer-third {
    @media (min-width:1230px) {
      padding-left: 40px;
      width: 20%;
    }
  }
  .footer-fourth {
    @media (min-width:1230px) {
      width: 30%;
    }
    form  {
      .form-item-message {
        line-height: 35px;
        margin-top: -7px;
      }
      .form-actions .btn {
        background: $color_primary;
        font-weight: bold;
        &:hover {
          background: #535353;
        }
      }
    }

  }

  @include desktop_small {
    .footer-first {
      width: 28%;
    }
    .footer-third {
      width: 20%;
    }
    .footer-fourth {
      width: 27%;
    }
  }

  @include tablet {
    .col-sm-3 {
      width: 50% !important;
    }
    .footer-third {
      clear: both;
    }
    .footer-first,
    .footer-second {
      margin-bottom: 30px;
    }
  }
  @include mobile {
    .col-sm-3 {
      margin-bottom: 30px;
    }
  }

  .block-simplenews-subscription-block {
    label ,
    .description.help-block
    {
      display: none;
    }
    .btn {
      min-width: 140px;
      padding: 7px 30px;
      color: #fff;
      font-size: 16px;
    }
  }

}

.footer {
  margin-top: 0px;
  border: none;
  background: $bg_footer;
  padding: 8px 0;
  #block-socialmedia {
    img {
      margin: 0px 5px;
    }
    text-align: center;
    @media (min-width: 768px) {
      float: right;
      width: auto;
    }
    a {
      @include transition(.3s);
      width: 31px;
      height: 31px;
      display: inline-block;
      margin: 0px 5px;
      background: url("../images/fa.png") no-repeat scroll left 0px;
      font-size: 0px;
      vertical-align: top;
      &:hover {
        background-position: left -31px;
      }
      &:nth-child(2) {
        background-image: url("../images/tw.png");
      }
      &:nth-child(3) {
        background-image: url("../images/in.png");
      }
      &:nth-child(4) {
        background-image: url("../images/gg.png");
      }
    }
  }
  #block-copyright {
    @media (min-width: 768px) {
      float: left;
      width: auto;
    }
    p {
      br {
        display: none;
      }
    }
    @include mobile {
      text-align: center;
      p {
        br {
          display: block;
        }
      }
    }

    padding: 8px 0;
  }
  .content-block {
    p {
      color: $color_white;
      font-size: 12px;
      font-weight: normal;
      a {
        color: $color_white;
      }
    }
  }
  #button_goto_top {
    display: none;
  }
}

#drupal-live-announce {
  display: none;
}

@media ( min-width: 992px ) {
  .wrapper-region-content-footer-top {
    .wrapper-footer-bottom-right {
      .footer-bottom-right {
        .field--type-text-with-summary {
          ul {
            display: flex;
          }
        }
      }
    }
  }
}
