.field--name-webform {
	margin-top: 25px;
}

form {
		
	.form-group {
		margin-bottom: 0;
		&:not(:last-child) {
			margin-bottom: 19px;
		}
	}
	.form-inline .form-control {
		width: 100%;
		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			color: #767676;
		}
		&::-moz-placeholder { /* Firefox 19+ */
			color: #767676;
		}
		&:-ms-input-placeholder { /* IE 10+ */
			color: #767676;
		}
		&:-moz-placeholder { /* Firefox 18- */
			color: #767676;
		}
	}
	label {
		font-weight: 600;
		text-transform: uppercase;
		line-height: 1;
		letter-spacing: 1.7px;
		margin-bottom: 17px !important;
		&.form-required {
			&:after {
				background-image: url(../images/required_bl.svg);
				vertical-align: top;
		    background-size: 8px 7px;
		    height: 7px;
		    width: 8px;
			}
		}
	}
	.form-control {
		height: auto;
		padding: 8px 12px;
		font-size: 16px;
		color: $color_text;
		border-radius: 0;
	}
	&.webform-submission-contact-form {
		#edit-content-form-contact {
			.form-item {
				&.form-item-contact-number, &.form-item-subject {
					margin-bottom: 14px;
				}
				&.form-item-message {
					textarea {
						min-height: 155px;
					}
				}
			}
		}
	}

	.captcha {
		max-width: 630px;
		text-align: center;
		margin: 40px auto 40px;
		img {
			margin: 0 auto;
		}
		.form-item-captcha-response {
			margin-top: 20px;
			label {
				text-transform: none;
			}
			input {
				font-size: 18px;
				text-align: center;
				max-width: 200px;
				margin: 0 auto;
			}
		}
	}
	.form-item-terms-privacy-policy {
		margin: 40px auto 62px;
		max-width: 630px;
		label {
			text-transform: none;
			letter-spacing: 1.4px;
			line-height: 1.2;
			input {
				vertical-align: middle;
			}
		}
	}
	.form-actions {
	}
}

@include tablet_desktop {
	form {
		&.webform-submission-contact-form {
			#edit-content-form-contact {
				.col-sm-6 {
					width: 46%;
					margin-bottom: 0;
					+.col-sm-6 {
						margin-left: 8%;
					}
				}
			}
		}
	}
}


#webform-submission-contact-us-node-23-add-form .form-actions.webform-actions {
	text-align: center;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #767676 !important;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
	color: #767676 !important;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
	color: #767676 !important;
}
.form-control:-moz-placeholder { /* Firefox 18- */
	color: #767676 !important;
}