h1, h2, h3, h4, {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #3e3e3e;
	font-weight: 700;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
}
h2 {
	font-size: 22px;
	position: relative;
	text-align: left;
	font-weight: bold;
	margin: 0 0 15px;
	letter-spacing: 1.9px;
	text-transform: uppercase;
}
h1.page-header {
	@include h2_border;
	padding-bottom: 15px;
	margin-bottom: 30px;
	text-transform: uppercase;
	border-bottom: 0px;
	letter-spacing: 2px;
}



@include mobile {
	h1.page-header {
		font-size: 25px;
		line-height: 1.4;
	}
	h2 {
		margin-bottom: 22px;
		font-size: 22px;
		line-height: 1.4;
	}
}
