header {
	background: #f5f5f5;
	&.navbar {
		border: 0px;
		margin-bottom: 0;
		border-radius: 0;
		border-bottom: 0px;
		@media (min-width: $break_point + "px") {
			min-height: auto;
			.navbar-header {
				position: relative;
				width: 100%;
				float: none;
				.name {
					&.navbar-brand {
						display: none;
					}
				}
				.region-navigation {
				}
				.logo {
					position: relative;
					z-index: 2;
					display: block;
					padding-top:16px;
					padding-bottom: 0px;
					margin-bottom: 0px;
					margin-top:0px;
				}
				#block-headerinfo {
					position: absolute;
					top: 33px;
					right: 70px;
					p {
						font-size: 14px;
						color: #a0a0a0;
						a {
							color: #a0a0a0;
							&:hover {
								color: $color_primary;
								text-decoration: none;
							}
						}
					}
				}
				#block-mainnavigation {
					width: auto;
					float: right;
					margin-top: 87px;
					#superfish-main {
						display: block;
						&:before {
							display: table;
							content:" ";
						}
						&:after {
							display: table;
							content:" ";
							clear: both;
						}
						@media (max-width: 1300px) {
							> li:last-child {
								ul {
									right: 0px !important;
									left: auto !important;
								}
							}
						}
						li {
							&:last-child {
							}
							a {
								color: #3e3e3e;
								font-size: 15px;
								padding: 15px 15px;
								font-weight: 400;
								letter-spacing: 1px;
								@include transition(all 0.3s);
								text-decoration: none !important;
								&.sf-depth-1.menuparent {
									.sf-sub-indicator {
										display: none;
									}
								}
								&:hover ,
								&.is-active{
									color: $color_primary;
								}

							}
							ul {
								margin-left: -58px;
								min-width:250px;
								max-width: 250px;
								margin-top:6px;
								li {

									a {
										background: $color_primary;
										padding: 10px 20px 10px 10px;
										text-align: center;
										color: #fff;
										font-weight: 400;
										position: relative;
										.sf-sub-indicator {
											display: none !important;
										}
										&.is-active {
											color: #ddd;
										}
										&.menuparent {
											&:after {
												right: 6px;
												top: 50%;
												border: solid transparent;
												content: " ";
												height: 0;
												width: 0;
												pointer-events: none;
												border-color: rgba(136, 183, 213, 0);
												border-left-color: #fff;
												border-width: 6px;
												margin-top: -5px;
												display: inline-block;
												position: absolute;
												@include transition(all 0.3s);
											}
										}
										&:hover {
											background: #fff;
											color: $color_primary;
											&:after {
												border-left-color: $color_primary;
											}
										}
									}
									ul {
										margin-top: 0px;
										margin-left: 0px;
										bottom: 0px !important;
									}

								}
							}
						}
					}
				}
				/* search-block-form */
			}
		}
	}
}
