body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: $color_text;
	margin-top: 0px;
}

a {
	color: #3e3e3e;
	text-decoration: none;
	&:hover {
		color: $color_primary;
		text-decoration: none !important;
	}
}

p {
	margin: 0 0 15px;
}

@media (min-width:1230px) {
	.container {
    width: 1200px;
	}
}

* {
	outline: 0 !important;
}

.node-content.full {
	.field--name-body {
		p {
			line-height: 38px;
			margin-bottom: 20px;
			&:first-child {
				margin-top: -10px
			}
			@media (max-width: 767px) {
				line-height: 25px;
				margin-bottom: 20px;
				&:first-child {
					margin-top: 0px
				}
			}
		}
		ul {
			li {
				line-height: 35px;
			}
		}
	}
}