@import "_mixin/_mixin.scss";
@import "_mixin/_var.scss";

/* font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

/* font-family: 'Open Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

/* font-family: 'Raleway', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');
@import "components/_normalize.scss";
@import "components/_header.scss";
@import "components/_search.scss";
@import "components/_button.scss";
@import "components/_slider.scss";
@import "components/_footer.scss";
@import "components/_breadcrumb.scss";
@import "components/_form.scss";
@import "components/_headline.scss";
@import "components/_menumobile.scss";
@import "components/_industries.scss";
@import "components/_division.scss";
@import "components/_location.scss";
@import "components/_pagination.scss";
@import "components/_news.scss";

.wrapper-region-slideshow {
  .block {
    img {
      width: 100%;
      height: auto;
    }
  }
}

/* Pager */

.pagination {
  li {
    >a,
    >span {
      font-family: 'Raleway', sans-serif;
      position: relative;
      float: left;
      padding: 0px;
      margin: 0 5px;
      width: 45px;
      height: 45px;
      line-height: 45px;
      text-align: center;
      font-size: 14px;
      color: #767676;
      text-decoration: none;
      background: transparent;
      @include transition(.3s);
      border-radius: 100px;
      border: 1px solid #d2d2d2;
      &:hover {
        background: $color_primary;
        color: #fff;
        border-color: $color_primary;
      }
    }
    &.is-active {
      a {
        background: $color_primary;
        color: #fff;
        border-color: $color_primary;
        border-radius: 100px;
        &:hover {
          background: $color_primary;
          color: #fff;
          border-color: $color_primary;
        }
      }
    }
    &.pager__item--last,
    &.pager__item--first {
      display: none;
    }
  }
}


/* End Page */


/* Product Content **/

.path-search {
  article.product {
    @media (min-width: 992px) {
      .left-product {
        width: 25%;
      }
      .right-product {
        width: 75%;
      }
    }
  }
}

article.product {
  margin-bottom: 80px;
  @include mobile {
    margin-bottom: 30px;
  }
  .left-product {
    @media (min-width: 1230px) {
      width: 39%;
    }
  }
  .right-product {
    @media (min-width: 1230px) {
      width: 59%;
    }
    .field--name-field-categories {
      margin-bottom: 17px;
      .field--name-name {
        display: none;
      }
      h2 {
        display: none;
      }
    }
    .field--name-field-brands {
      margin-bottom: 17px;
      .field--name-name {
        display: none;
      }
      h2 {
        display: none;
      }
      .field--name-field-image {
        img {
          max-width: 200px;
        }
      }
    }
    .field--name-body {
      margin-bottom: 20px;
      line-height: 28px;
      p {
        line-height: 28px;
      }
    }
    .field--name-field-video-embed {
      margin-top: 20px;
      a {
        font-size: 16px;
        font-weight: 600;
        color: #000;
        background: url("../images/icon_video.jpg") no-repeat;
        padding-left: 33px;
        &:hover {
          color: #009a3b;
        }
      }
    }
    .field--name-field-video-embed {
      margin-top: 20px;
      a {
        font-size: 16px;
        font-weight: 600;
        color: #000;
        background: url("../images/icon_video.jpg") no-repeat;
        padding-left: 33px;
        &:hover {
          color: #009a3b;
        }
      }
    }
    .field--name-field-pdf-file {
      a {
        font-size: 16px;
        font-weight: 600;
        color: #000;
        background: url("../images/icon_pdf.jpg") no-repeat;
        padding-left: 20px;
        display: inline-block;
        padding: 3px 0 3px 33px;
        &:hover {
          color: #009a3b;
        }
      }
    }
    .addthis_toolbox {
      margin-top: 20px;
    }
    .wrapper-link {
      margin-top: 20px;
    }
  }
}

@include mobile {
  .sidebar {
    margin-bottom: 30px;
  }
  article.product {
    .left-product {
      margin-bottom: 20px;
      img {
        width: 100%;
      }
    }
  }
}


/* End Product */


/* Categories list Block */

.wrapper-categories-product-application {
  background: #535353;
  padding: 20px 10px 20px 15px;
  .nav {
    .more {
      cursor: pointer;
      color: #fff;
      text-align: right;
      font-size: 11px;
      margin-top: 10px;
    }
    li {
      a {
        color: #fff;
        padding: 5px 0px;
        cursor: pointer;
        @include transition(.3s);
        &:hover,
        &:active,
        &:focus {
          background: none;
          border: 0px;
        }
        &:hover,
        &.active,
        &.trail-active {
          color: $color_primary;
          &:after {
            border-left-color: $color_primary !important;
          }
        }
        &.parent {
          color: #fff !important;
        }
      }
      ul {
        li {
          a {
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            letter-spacing: 1px;
            &.has-children {
              position: relative;
              &:after {
                right: -5px;
                top: 20px;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-left-color: #fff;
                border-width: 6px;
                margin-top: -10px;
                @include transition(.3s);
              }
            }
            &:hover,
            &.active {
              &:after {
                border-left-color: $color_primary;
              }
            }
            &.open-sub {
              &:after {
                @include box-rotate(90);
                top: 24px;
                margin-left: 20px;
                right:0px;
              }
            }
          }
          ul {
            margin-left: 17px;
            display: none;
            li {
              a {
                font-size: 14px;
              }
              ul {
                .more {
                  display: none !important;
                }
              }
            }
          }
        }
      }
    }
    &:not(.children)>li {
      padding-bottom: 30px;
      > a {
        font-size: 18px;
        padding-left: 5px;
        border-bottom: 2px solid #fff;
        padding-bottom: 8px;
        margin-bottom: 5px;
      }
      >.children {
        padding-left: 5px;
        margin-top: 5px;
      }
    }
    &:not(.children) {
      >li {
        padding-bottom: 0px;
        >a {
          margin-bottom: 0px;
          position: relative;
          &:before,
          &:after {
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: 0px;
            height: 2px;
            width: 15px;
            background: #fff;
            content: " ";
            margin: auto;
            @include transition(.3s);
          }
          &:before {
            @include box-rotate(90);
          }
          &.open-sub {
            &:before {
              @include box-rotate(0);
            }
          }
          +.children {
            display: none;
            padding-bottom: 20px;
          }
        }
      }
    }
  }
}


/* End Categories list Block */


/* Page Scroll Top */

#button_goto_top {
  position: fixed;
  right: 20px;
  bottom: 50px;
  width: 31px;
  height: 31px;
  border-radius: 50px;
  border: 1px solid $color_primary;
  display: inline-block;
  background: url("../images/icon_top.png") no-repeat;
  @include transition(.3s);
  span {
    display: none;
  }
  &:hover {
    background-color: $color_primary;
    background-position: 0px -31px;
  }
}

footer.high {
  @media (min-width: 1300px) {
    .container {
      position: relative;
      #button_goto_top {
        position: absolute;
        top: 1px;
        right: -40px;
      }
    }
  }
}

@include desktop_small {
  header.navbar {
    .navbar-header {
      .logo {
        padding: 16px 0;
      }
      #block-mainnavigation {
        #superfish-main {
          li {
            a {
              padding: 27px 10px;
            }
          }
        }
      }
    }
  }
}


/* Style Home Page */

.path-frontpage {
  h1.page-header,
  .view.view-frontpage {
    display: none;
  }
  .wrapper-content-section-1 {
    background: url('../images/bg_001.jpg') no-repeat scroll center center;
    background-size: cover;
    padding: 60px 0;
    .region-content-section-1 {
      margin-left: -15px;
      margin-right: -15px;
    }
    .block-type-icon-content {
      @media (min-width: 768px) {
        width: 33.33%;
        float: left;
        padding: 0px 15px;
      }
      .content-block {
        text-align: center;
        h2 {
          text-align: center;
          font-size: 20px;
          font-family: 'Raleway', sans-serif;
          font-weight: 700;
          color: #3e3e3e;
          margin-top: 20px;
          a {
            color: #3e3e3e;
          }
        }
        .field--name-field-icon {
          margin-bottom: 30px;
          img {
            display: inline-block;
          }
        }
        .field--name-body {
          font-family: 'Raleway', sans-serif;
          text-align: justify;
          text-align-last: center;
          letter-spacing: 1px;
        }
        .field-img-icon {
          text-align: center;
          position: relative;
          a.img-icon {
            display: inline-block;
            width: 71px;
            height: 71px;
            &.hover-image-icon {
              img.top {
                opacity: 0;
              }
            }
            img {
              position: absolute;
              left: 0;
              right: 0;
              margin: auto;
              -webkit-transition: opacity .3s ease-in-out;
              transition: opacity .3s ease-in-out;
            }
          }
        }
        &:hover {
          .field-img-icon {
            a.img-icon {
              &.hover-image-icon {
                img.top {
                  opacity: 1;
                }
              }
            }
          }
          h2 {
            a {
              color: $color_primary;
            }
          }
        }
      }
    }
  }
  #block-whychooseservodynamics {
    h2.text-align-center {
      @include h2_border;
    }
  }
  .wrapper-content-categories-items {
    padding: 60px 0px;
    #block-categoriesblockhome {
      h2.block-title {
        @include h2_border;
      }
    }
    .wrapper-items-categories-product {
      @media (min-width: 768px) {
        .row {
          margin-left: -10px;
          margin-right: -10px;
          .item-field {
            padding: 0px 10px;
          }
        }
      }
      .content-field {
        background-size: cover !important;
        height: 300px;
        position: relative;
        &:before {
          position: absolute;
          top: 5px;
          left: 5px;
          width: calc( 100% - 10px);
          height: calc( 100% - 10px);
          border: 1px solid #fff;
          content: " ";
          z-index: 2;
        }
        &:after {
          position: absolute;
          content: " ";
          width: 100%;
          height: 100%;
          background: rgba(#000, 0.6);
          top: 0px;
          left: 0px;
          @include transition(.3s);
        }
        &:hover {
          &:after {
            background: rgba( $color_primary, 0.7);
          }
        }
        a.view-more {
          display: inline-block;
          background: url("../images/bg_viewmore.png") no-repeat scroll center right;
          padding-right: 20px;
          color: #fff;
          font-size: 14px;
          text-decoration: none !important;
          position: absolute;
          width: 100px;
          margin: 0 auto;
          left: 0;
          right: 0;
          bottom: 30px;
          z-index: 5;
        }
        .content {
          position: absolute;
          z-index: 9;
          width: 100%;
          top: 50%;
          padding: 0px 10px;
          text-align: center;
          @include translate(0,
          -50%);
          h3 {
            color: #fff;
            text-align: center;
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 60px;
            font-family: 'Open Sans', sans-serif;
            letter-spacing: 2px;
            line-height: 30px;
            word-wrap: break-word;
            @media (max-width: 767px) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .main-container {
    padding: 60px 0;
    #block-views-block-industries-block-1 {
      h2.block-title {
        @include h2_border;
      }
      .view-industries {
        .view-footer {
          margin-top: 60px;
        }
        .owl-dots {
          display: none !important;
        }
        .wrapper-overlay {
          position: relative;
          &:after {
            @include transition(0.3s);
            content: " ";
            background: rgba(#000, 0.6);
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            opacity: 0;
          }
          &:hover {
            &:after,
            .content {
              opacity: 1;
            }
          }
          .content {
            position: absolute;
            top: 50%;
            @include translate(0,
            -50%);
            width: 100%;
            padding: 0px 20px;
            @media (max-width: 767px) {
              padding: 0px;
            }
            z-index: 5;
            text-align: center;
            @include transition(0.5s);
            opacity: 0;
            h3 {
              margin-top: 0px;
              margin-bottom: 20px;
              @media (max-width: 767px) {
                margin-bottom: 5px;
              }
              a {
                color: #fff;
                font-weight: 600;
                font-family: 'Open Sans', sans-serif;
                font-size: 26px;
                @media (max-width: 767px) {
                  font-size: 16px;
                }
                letter-spacing: 2px;
              }
            }
            a.btn-typeb {
              color: #fff;
              border-color: #fff;
              &:hover {
                border-color: $color_primary;
              }
              @media (max-width: 767px) {
                padding: 4px 10px;
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  #block-views-block-application-highlight-block-1 {
    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next {
      display: none !important;
    }
  }
  article.application {
    background: #fff;
    img {
      width: auto !important;
    }
    .youtube-container {
      width: 100% !important;
    }
    .field--name-field-brands {
      h2 {
        display: none;
      }
      .field--name-field-image {
        margin-bottom: 20px;
        img {
          max-width: 200px;
        }
      }
    }
    h2 {
      color: #3e3e3e;
      text-transform: none;
      font-size: 22px;
      margin-bottom: 20px;
      font-weight: normal;
      line-height: 30px;
    }
    .field--name-body {
      font-family: 'Raleway', sans-serif;
      color: #767676;
      margin-bottom: 20px;
      p {
        line-height: 27px;
      }
      @media (max-width: 767px) {
        +p {
          text-align: center;
        }
      }
    }
    .field--name-field-video-embed {
      padding-top: 20px;
      padding-left: 20px;
      @media (max-width: 767px) {
        padding-top: 0px;
        padding-left: 0px;
      }
    }
    .right-application {
      .content {
        padding: 20px;
        @media (max-width: 767px) {
          padding: 0px;
        }
      }
      .field--name-field-image {
        img {
          max-width: 200px;
        }
      }
    }
  }
  .wrapper-content-section-4 {
    background: url('../images/bg_004.jpg') no-repeat scroll center center;
    background-size: cover;
    padding: 60px 0;
    h2.block-title {
      @include h2_border;
    }
  }
  #block-views-block-brands-block-1-2 {
    padding: 60px 0;
    h2.block-title {
      @include h2_border;
    }
    .view-brands {
      .view-footer {
        margin-top: 60px;
        @media (max-width: 767px) {
          margin-top: 30px;
        }
      }
      .view-content {
        margin-left: -10px;
        margin-right: -10px;
        overflow: hidden;
        .views-row {
          padding: 0px 10px;
          width: 16.66666667%;
          float: left;
        }
        @media (max-width: 767px) {
          .views-row {
            width: 50%;
            float: left;
            margin-bottom: 20px;
          }
        }
        .views-field-field-image {
          min-height: 170px;
          border: 1px solid #d9d9d9;
          text-align: center;
          @include flexbox;
          @include flex-direction(row);
          @include justify-content(center);
          @include align-items(center);
          img {
            display: inline-block;
            max-height: 170px;
            max-width: 90%;
          }
        }
      }
    }
  }
  .wrapper-content-section-6 {
    background: url('../images/bg_005.jpg') no-repeat scroll center center;
    background-size: cover;
    padding: 60px 0;
    h2.block-title {
      @include h2_border;
    }
    .view-products {
      .view-content {
        @media (min-width: 768px) {
          margin-left: -15px;
          margin-right: -15px;
          .views-row {
            padding: 0px 15px;
            width: 25%;
            float: left;
          }
        }
        @media (max-width: 767px) {
          .views-row {
            margin-bottom: 20px;
            text-align: center;
            img {
              display: inline-block !important;
            }
          }
        }
      }
    }
  }
  .wrapper-region-content-footer-top {
    margin-top: 0px !important;
  }
}


/* End Home */

.owl-carousel {
  @media (max-width: 1320px) {
    .owl-nav {
      .owl-prev, .owl-next {
        opacity: 0.5;
      }
    }
    &:hover {
      .owl-nav {
        .owl-prev,
        .owl-next {
          opacity: 1;
        }
      }
    }
  }
  .owl-nav {
    .owl-prev,
    .owl-next {
      font-size: 0;
      display: inline-block;
      width: 50px;
      height: 50px;
      background: url(../images/owl-prev.png);
      position: absolute;
      top: 50%;
      margin-top: -25px;
      @include transition(.3s);
    }
    .owl-prev {
      left: -70px;
      @media (max-width: 1320px) {
        left: 0px;
      }
    }
    .owl-next {
      background: url(../images/owl-next.png);
      right: -70px;
      @media (max-width: 1320px) {
        right: 0px;
      }
    }
  }
  .owl-dots {
    margin-top: 30px;
    text-align: center;
    .owl-dot {
      display: inline-block;
      width: 12px;
      height: 12px;
      border: 1px solid #009a3b;
      @include transition(.3s);
      border-radius: 20px;
      margin: 0px 4px;
      &:hover,
      &.active {
        background: $color_primary;
      }
    }
  }
}

@include tablet {
  .path-frontpage {
    .wrapper-content-categories-items {
      .wrapper-items-categories-product {
        .item-field {
          margin-bottom: 30px;
        }
        .content-field {}
      }
    }
  }
}


/** Home Page Mobile */

@include mobile {
  #toolbar-administration {
    display: none !important;
  }
  body.toolbar-vertical {
    padding-top: 0px !important;
  }
  .block-type-icon-content {
    padding: 0px 15px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .path-frontpage {
    .wrapper-content-categories-items {
      .wrapper-items-categories-product {
        .item-field {
          margin-bottom: 6px;
        }
        .row {
          margin-left: -3px;
          margin-right: -3px;
          .col-xs-6 {
            padding: 0px 3px;
            .content-field .content h3 {
              word-wrap: break-word;
            }
          }
        }
        .content-field {
          &:before {
            position: absolute;
            top: 5px;
            left: 5px;
            width: calc( 100% - 10px);
            height: calc( 100% - 10px);
            border: 1px solid #fff;
          }
          .content {
            padding: 0px 10px;
          }
        }
      }
    }
  }
  #block-views-block-industries-block-1 {
    .owl-carousel {
      .owl-nav {
        .owl-next,
        .owl-prev {
          right: 0px;
          width: 30px;
          height: 30px;
          background-size: cover;
          margin-top: -15px;
        }
      }
      .owl-dots {
        margin-top: 20px;
      }
    }
    .view-industries {
      .view-footer {
        margin-top: 30px !important;
      }
    }
  }
  .path-frontpage {
    article.application {
      padding: 20px;
    }
  }
}

@include desktop_small {
  .path-frontpage {
    .wrapper-content-categories-items {
      .wrapper-items-categories-product {
        .row {
          margin-left: -5px;
          margin-right: -5px;
          .col-md-2 {
            padding: 0px 5px;
          }
        }
        .content-field {
          .content {
            h3 {
              font-size: 16px;
              word-wrap: break-word;
            }
          }
        }
      }
    }
  }
}

.article-node-23 {
  margin-top: 0px;
  @media (min-width: 758px) {
    width: 50%;
    float: right;
    padding-left: 15px;
  }
}



#block-informationcontact {
  margin-bottom: 20px;
  @media (min-width: 758px) {
    width: 50%;
    float: left;
    padding-right: 15px;
  }
}

#block-googlemap {
  margin-bottom: 20px;
  iframe {
    width: 100% !important;
  }
  @media (min-width: 758px) {
    width: 50%;
    float: left;
    padding-right: 15px;
  }
}

.hidden-field-form {
  display: none !important;
}

.path-search {
  .breadcrumb {
    li:nth-child(2) {
      display: none;
    }
  }
  .main-container {
    .search-form {
      .btn-default.btn {
        border-radius: 0px;
      }
      .form-control {
        padding: 13px 12px;
        height: 51px;
        @media (max-width: 767px) {
          padding: 0px 12px;
          height: 39px;
        }
      }
    }
    ol {
      margin-top: 40px;
      list-style-type: none;
      padding-left: 0px;
      > li {
        list-style-type: none;
      }
    }
  }
}

.enquiryct.views-row {}

.file {
  margin: 14px 0;
}

.block-background-image {
  padding: 60px 0;
  .field--name-body {
    h3 {
      color: #fff;
      font-size: 34px;
      line-height: 45px;
    }
    a {
      @extend .btn;
      word-spacing: 0px;
      padding: 18px 70px 18px 50px;
      text-decoration: none !important;
      margin-top: 30px;
      position: relative;
      border: 2px solid transparent;
      background: $color_primary;
      line-height: 25px;
      &:after {
        content: " ";
        position: absolute;
        border: solid #fff;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        top: 27px;
        right: 34px;
        margin: auto;
        @include transition(0.3s);
        backface-visibility: hidden;
      }
      &:before {
        position: absolute;
        content: " ";
        top: 0px;
        bottom: 0px;
        right: 35px;
        margin: auto;
        width: 15px;
        height: 1px;
        background: #fff;
        @include transition(0.3s);
      }
      &:hover {
        border-color: $color_primary;
        color: $color_primary;
        background: #fff;
        &:before {
          background: $color_primary;
        }
        &:after {
          border-color: $color_primary;
        }
      }
      @media (max-width: 767px) {
        &:before {
          right: 15px;
        }
        &:after {
          right: 15px;
          top: 19px; //display: none !important;
        }
      }
    }
  }
  .inner-cotent-block {
    p {
      color: #fff;
      font-size: 34px;
      line-height: 45px;
      font-weight: bold;
      letter-spacing: 2px;
      @media (max-width: 767px) {
        font-size: 24px;
        line-height: 35px;
        br {
          display: none;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .field--name-field-image-background {
      display: none;
    }
  }
  @media (max-width: 767px) {
    background: #000 !important;
    .inner-cotent-block {
      padding: 30px 0px;
      font-size: 24px;
      line-height: 35px;
    }
    padding: 0px;
    .field--name-body {
      h3 {
        font-size: 24px;
        line-height: 35px;
        margin-top: 0px;
      }
      a {
        letter-spacing: 1px;
        padding: 10px 40px 10px 20px;
      }
    }
  }
  &#block-servoworkscloselytoseeksolutionsforourcustomers {
    @media (min-width: 768px) {
      padding: 120px 0px;
    }
  }
}

.path-products,
.page-taxonomy-product_categories {
  h1.page-header {
    font-size: 30px;
    @media (max-width: 767px) {
      font-size: 25px;
    }
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 20px;
    margin-bottom: 7px;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    color: #3e3e3e;
    @include mobile {
      padding-bottom: 10px;
      margin-bottom: 15px;
    }
    &:before,
    &:after {
      display: none;
    }
    @include tablet_desktop {
      margin-top: -5px;
    }
  }
}

#webform-submission-contact-us-node-23-add-form {
  .form-item-product-name-2 {
    .webform-entity-select {
      display: none;
    }
    .select-wrapper:after {
      display: none;
    }
  }
}

article.application {
  .field--name-field-brands {
    .field--name-field-image {
      margin-bottom: 20px;
      img {
        max-width: 200px;
      }
    }
  }
  .field--name-body {
    margin-bottom: 20px;
  }
}

.wrapper-content-top-header-page {
  .alert {
    margin-top: 30px;
  }
}

.path-search {
  article.application {
    margin-bottom: 80px;
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}



#webform-submission-contact-us-node-23-add-form {
  .form-type-select.form-item-product-name-2 {
    display: none;
  }
  .field--name-field-image {
    padding: 0px 15px;
  }
}

@media (max-width: 767px) {
  .field--name-body {
    img {
      max-width: 100% !important;
      height: auto !important;
    }
  }
  article.node-content {
    img {

    }
    table.table_responsive,
    table.table_responsive tbody,
    table.table_responsive thead,
    table.table_responsive tr,
    table.table_responsive td,
    table.table_responsive th {
      display: block !important;
      width: 100% !important;
      height: auto !important;
    }
    table.table_responsive td {
      margin-bottom: 10px;
    }
  }
}

.page-node-type-news-event {
  #block-backbuttonblock {
    margin-bottom: 20px;
  }
}

.views-exposed-form {
  .select-wrapper select.form-control {
    padding: 5px;
  }
}

.field--name-body {
  p {
    iframe {
      width: 100% !important;
    }
  }
}

.ckeditor-accordion-container {
  > dl dt > a {
    background-color: lighten($color_primary, 4%);
    border-bottom: 1px solid $color_primary;
  }
}

.ckeditor-accordion-container > dl dt.active > a ,
.ckeditor-accordion-container > dl dt > a:hover
{
  background-color: $color_primary;
}

.ckeditor-accordion-container > dl dd {
  padding: 15px;
}

.ckeditor-accordion-container > dl {
  border: 0px;
}

#custom_subscribe_modal_form {
  .alert {
    &.alert-danger {
      background: none;
      border: 0px;
      padding: 0px;
    }
    &.alert-success {
      display: none;
    }
  }
}

.path-search {

}