<div class="product-author">
	<div class="author-img">{{ image }}</div>
	<div class="text">{{ 'Nhiều hơn từ '|t }}</div>
	<div class="author-name"><a href="/user/{{ uid }}">{{ name }}</a></div>
</div>
<div class="user-product-view">
	{{ view }}
</div> 
<div class="view-gallery"><a href="/user/{{ uid }}">{{ 'Xem gallery'|t }}</a></div>