.region-navigation > div{
	display: inline-block;
}
.region-navigation .block-search{
	width: 35%;
	max-width: 370px;
	float: left;
	margin-right: 45px;
}
.search-block-form form{
	width: 100%;
	position: relative;
}
.search-block-form .form-search{
	border: 1px solid #eceff0;
	background-color: #eceff0;
	color: #5d6f85;
	width: 100%;
	font-size: 12px;
	line-height: 28px;
	padding: 5px 15px;
	border-radius: 25px;
}
.search-block-form .form-search:focus{
	box-shadow: 0;
}
.search-block-form .form-actions:before{
	content: "\f002";
	font-family: FontAwesome;
	color: #999;
	font-size: 14px;
	line-height: 40px;
	position: absolute;
	top: 0;
	right: -10px;
	z-index: 1;
}
.search-block-form .form-actions:hover:before{
	color: #6fa8dc;
}
.search-block-form .form-submit{
	border-radius: 0;
	background-color: transparent;
	border: none;
	width: 40px;
	line-height: 40px;
	padding: 0;
	position: absolute;
	top: 0;
	right: -30px;
	z-index: 2;
	text-indent: -9999px;
	border-radius: 20px;
}
.search-block-form .form-submit:hover{
	background-color: transparent;
}
.kham-pha-dang-tranh a{
	border-radius: 20px;
	margin: 0 5px;
	display: inline-block;
	padding: 5px;
	font-size: 12px;
	line-height: 28px;
	color: #fff;
	min-width: 110px;
	font-weight: 500;
    text-align: center;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	border: 1px solid #fc7caf;
	background-color: #fc7caf;
}
.kham-pha-dang-tranh a:hover{
	background-color: transparent;
	color: #fc7caf;
}
.kham-pha-dang-tranh .kham-pha{
	background-color: #429ff3;
	border-color: #429ff3;
}
.kham-pha-dang-tranh .kham-pha:hover{
	background-color: transparent;
	color: #429ff3;
}
.kham-pha-dang-tranh .dang-tranh{
	background-color: #bd081b;
	border-color: #bd081b;
}
.kham-pha-dang-tranh .dang-tranh:hover{
	background-color: transparent;
	color: #bd081b;
}
#block-tranhhottheodoi{
	display: inline-block;
	float: left;
	margin-top: 25px;
}
.tranh-hot-theo-doi a{
	border-radius: 20px;
	margin: 0 5px;
	display: inline-block;
	padding: 3px 5px;
	font-size: 12px;
	text-align: center;
	line-height: 28px;
	min-width: 100px;
	color: #5d6f85;
	font-weight: 500;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	border: 1px solid transparent;
	background-color: transparent;
}
.tranh-hot-theo-doi a.active, .tranh-hot-theo-doi a:hover{
	border-color: #5d6f85;
	background-color: #5d6f85;
	color: #fff;
}
.tab-view a{
	display: inline-block;
	line-height: 28px;
	border: 1px solid #333;
	color: #333;
	padding: 0 20px;
}
.tab-view a.active, 
.tab-view a:hover{
	color: #333;
	border-color: #333;
}
.user-profile{
	position: relative;
	padding: 5px 5px 5px 15px;
	background-color: #eceff0;
	border-radius: 20px;
}
.user-profile .user-picture img{
	border-radius: 50%;
	margin-left: 10px;
	width: 30px;
	height: auto;
}
.list-user{
    display: block;
	position: absolute;
	top: 100%;
	right: 0;
	max-height: 0;
	opacity: 0;
	visibility: hidden;
	padding: 12px 0 0;
	width: 230px;
	transition: all .3s;
	z-index: 998;
}
.list-user-inner:before{
	content: '';
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
 	border-bottom: 7px solid #fff;
	position: absolute;
	top: 5px;
	z-index: 999;
	display: block;
	right: 15px;
}
.list-user-inner{
	padding: 0;
	margin: 0;
	padding: 20px;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
	border-radius: 10px;
	background-color: #fff;
}
.list-user.open{
	max-height: 1000px;
	opacity: 1;
	visibility: visible;
}
.list-user li{
	font-weight: 400;
	background-color: #fff;
	line-height: 24px;
	list-style: none;
	padding: 3px 10px;
	text-align: left;
}
.list-user li i{
	margin-right: 10px;
}
.list-user li a{
	color: #5d6f85;
}
.list-user li:last-child{
	border-bottom: 0;
}
#section-header .section-inner{
	padding: 10px 0;
	background-color: #fff;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}
.region-navigation, .region-header-right{
	padding-top: 5px;
	padding-bottom: 5px;
}
.view-user .views-field{
	display: inline-block;
	vertical-align: top;
}
.view-user a{
	color: #333;
}
.thong-bao-tin-nhan a{
    display: inline-block;
	color: #5d6f85;
	font-size: 24px;
	line-height: 40px;
	margin-right: 20px;
}
.login-register-popup-link{
    max-width: 240px;
}
.login-register-popup-link a{
	border-radius: 20px;
	font-size: 12px;
	margin: 0 5px;
	display: inline-block;
	padding: 5px;
	min-width: 110px;
	text-align: center;
	line-height: 28px;
	color: #fff;
	font-weight: 500;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	border: 1px solid #018d0e;
	background-color: #018d0e;
}
.login-register-popup-link a:hover{
	color: #018d0e;
	background-color: transparent;
}
.ajax-progress{
  display: none;
}
.login-register-popup-link a.register-popup-form{
	border-color: #f39942;
	background-color: #f39942;
}
.login-register-popup-link a.register-popup-form:hover{
	color: #f39942;
	background-color: transparent;
}
.block-dropdown-language{
	margin: 8px 20px 0 0;
}
.block-dropdown-language .dropbutton-widget{
    padding-right: 0 !important;
}
.block-dropdown-language .dropbutton-toggle{
    position: relative;
}
.block-dropdown-language .dropbutton-toggle button{
    position: absolute;
    top: 0;
    left: 0;
}
.block-dropdown-language .dropbutton-widget{
	border: none;
}
.block-dropdown-language .dropdown-language-item{
	border: none;
}
.block-dropdown-language .dropdown-language-item li{
	display: inline-block;
	vertical-align: top;
}
.block-dropdown-language .dropdown-language-item li.secondary-action{
	position: absolute;
	top: 100%;
	left: 0;
}
.block-dropdown-language .dropdown-language-item li a{
	margin: 0 !important;
	padding: 0;
	padding-left: 38px;
}
.block-dropdown-language .dropdown-language-item li:before{
	content: '';
	width: 30px;
	height: 17px;
	float: left;
	margin-top: 6px;
	margin-right: 8px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.block-dropdown-language .dropdown-language-item .vi:before{
	background-image: url('../images/icon-viet.png');
}
.block-dropdown-language .dropdown-language-item .en:before{
	background-image: url('../images/icon-eng.png');
}
.region-header-right{
	text-align: right;
}
.region-header-right > div{
	display: inline-block;
	vertical-align: top;
}
.block-user-mobile i{
    font-size: 0;
    color: #5d6f85;
}
.block-user-mobile i:before{
    font-size: 20px;
    line-height: 30px;
}
@media (max-width: 1500px) {
	.region-navigation .block-search{
		width: 20%;
	}
}