@media screen and (min-width: 1200px) { 
    .hidden-lg{
        display: none !important;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) { 
    .hidden-md{
        display: none !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) { 
    .hidden-sm{
        display: none !important;
    }
}
@media screen and (max-width: 767px) { 
    .hidden-xs{
        display: none !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { 
	.block-dropdown-language{
		margin: 5px 0 0;
	}
	.block-dropdown-language .dropdown-language-item li a{
		padding-left: 32px;	
	}
	.thong-bao-tin-nhan a{
		margin-right: 5px;
	}
	.kham-pha-dang-tranh a{
		margin: 0 3px;
		min-width: 105px;
	}
	.region-navigation .block-search{
		margin-right: 35px;
	}
    .block-dropdown-language .dropdown-language-item a{
        font-size: 0;
    }
    .block-dropdown-language .dropdown-language-item li::before{
        margin-right: 0;
        margin-top: 3px;
    }
    .block-dropdown-language .dropbutton-toggle,
    .block-dropdown-language .dropbutton-toggle button,
    .block-dropdown-language .dropbutton-toggle:before{
        width: 25px !important;   
    }
    .login-register-popup-link a{
        min-width: 105px;
    }
}
@media (max-width: 1500px) {
	article.commerce-product-picture .field--name-title{
		top: 20px;
		left: 20px;
		font-size: 16px;
		width: calc(100% - 40px);
	}
	article.commerce-product-picture .profile{
		left: 20px;
		bottom: 50px;
	}
	article.commerce-product-picture .profile .field--name-user-picture img{
		width: 40px;	
	}
	.view-id-front_page.view-display-id-page_3 .view-content .views-row ,
	.view-id-front_page.view-display-id-page_3 .grid-sizer
	{
		width: 25%;
	}
    .block-dropdown-language{
		margin: 5px 0 0;
	}
}
@media (max-width: 991px) {
	.view-id-front_page.view-display-id-page_3 .view-content .views-row ,
	.view-id-front_page.view-display-id-page_3 .grid-sizer
	{
		width: 33.33%;
	}
	.region-logo, .region-navigation, .region-header-right{
		text-align: center;
	}
	.region-logo, .region-navigation{
		margin-bottom: 10px;
	}
	.region-navigation .block-search{
		float: none;
	}
    .block-pagination-product-block{
        margin: 30px 0;
    }
	.single-product .btn-process{
		top: -60px;	
	}
	.product-pagination a{
        font-size: 12px;
        line-height: 20px;
    }
	.single-product .btn-save-wishlist .wrapper-field-input [id^="edit-wishlist"]{
		font-size: 12px;
		padding: 2px 8px 2px 28px;
		background-position: 6px 6px;
	}
	.single-product .btn-delete-product a{
		font-size: 12px;
		padding: 2px 8px 2px 28px;
		background-position: 6px 6px;
	}
	.single-product .btn-download a{
		font-size: 12px;
		padding: 2px 8px;
	}
}
@media (max-width: 767px) {
    .region-logo{
        margin-bottom: 0;
    }
    .region-logo .block{
        position: relative;
    }
	.view-id-front_page.view-display-id-page_3 .view-content .views-row ,
	.view-id-front_page.view-display-id-page_3 .grid-sizer
	{
		width: 50%;
	}
    .block-dropdown-language .dropdown-language-item a{
        font-size: 0;
    }
    .block-dropdown-language .dropdown-language-item li::before{
        margin-right: 0;
        margin-top: 3px;
    }
    .block-dropdown-language .dropbutton-toggle,
    .block-dropdown-language .dropbutton-toggle button,
    .block-dropdown-language .dropbutton-toggle:before{
        width: 15px !important;   
    }
    .thong-bao-tin-nhan{
        display: none;
    }
    .block-dropdown-language {
        margin: 5px 0 0;
    }
    .region-logo .hamburger{
        position: absolute;
        top: 12px;
        left: 0;
        z-index: 2;
    }
    .user-profile {
        padding: 0;
        background-color: transparent;
    }
    .user-profile .user-name{
        display: none;
    }
    .user-profile .user-picture img{
        margin-left: 0;
    }
    .region-header-right{
        text-align: right;
    }
    .region-logo .block-user-mobile{
        position: absolute;
        top: 12px;
        right: 15px;
        display: inline-block;
        z-index: 2;
    }
    .region-logo .block-dropdown-language{
        position: absolute;
        top: 12px;
        right: 45px;
        display: inline-block;
        z-index: 2;
    }
    .site-logo{
        margin-right: 30px;
    }
    .region-navigation, .region-header-right{
        display: none;
    }
    .tranh-hot-theo-doi{
        margin-left: 0 !important;
    }
    .kham-pha-dang-tranh a{
        min-width: 1px;
        padding: 5px 12px;
        margin: 0 3px 10px;
        font-size: 11px;
    }
    .search-block-form .form-submit{
        right: 0;
    }
    .search-block-form .form-actions::before{
        right: 15px;
    }
    .search-block-form .form-search{
        width: -moz-available;
    }
    .view-grid-masonry .views-row{
        width: 100%;
    }
    .view-grid-masonry .pager .pager__items{
        margin: 20px 0;
    }
    .view-grid-masonry .views-row .product-img img{
        width: 100% !important;
        height: auto !important;
    }
    .block-pagination-product-block{
        margin: 10px 0 50px;
    }
    .product-pagination{
        text-align: center;
    }
    .single-product .btn-process {
        top: -40px;
        right: 0;
		width: 100%;
		text-align: center;
    }
    .single-product .product-comment{
        padding-top: 0;
    }
    .block-single-product-ad{
        margin-top: 0;
    }
    .single-product .user-picture img{
        width: 50px;
        top: -25px;
    }
	.single-product .btn-save-wishlist .wrapper-field-input [id^="edit-wishlist"],
	.single-product .btn-delete-product a,
	.single-product .btn-download a{
		background-image: none;	
		padding: 2px 12px;
	}
	.single-product .btn-download a::before{
		display: none;
	}
    .single-product .product-image{
        margin-bottom: 50px;
    }
    .single-product .product-author{
        margin-bottom: 10px;
    }
    .single-product .product-content-mobile{
        display: block;
    }
    .single-product .product-content{
        display: none;
    }
    .single-product .btn-share a{
        font-size: 12px;
        padding: 0 7px;
    }
    .single-product .flag-following a{
        padding: 0;
    }
    .single-product .btn-like .flag-like a.flag-like-button::before{
        font-size: 16px;
    }
    .single-product .btn-like .flag-like .count,
    .single-product .profile-user,
    .comment-row .comment-heading a,
    .comment-row .comment-text,
    .block-user-product-block .product-author > div,
    .block-user-product-block .view-gallery,
    .region-sidebar-second .block-title{
        font-size: 14px;   
    }
    .single-product .profile-content{
        margin-left: 60px;
    }
    .single-product .btn-like-share{
        position: relative;
        left: 60px;
        margin-bottom: 20px;
        display: inline-block
    }
    .single-product .btn-like-share .btn-like{
        margin-right: 5px;   
    }
    .single-product .user-proccess{
        top: 40px;
    }
    .single-product .product-description,
    .single-product .product-dung-cu{
        margin-left: 60px;
        font-size: 14px;
    }
    .single-product .product-dung-cu{
        margin-bottom: 15px;   
    }
    .custom-input-upload-file{
        margin-bottom: 20px;
    }
    .wrapper-form-add-picture{
        padding: 20px 0;
    }
    .wrapper-form-add-picture .fieldgroup{
        margin: 0;
    }
    .wrapper-form-add-picture.form-step-2 .button.btn{
        width: auto;
        min-width: 120px;
        font-weight: 500;
    }
    .wrapper-form-add-picture .wrapper-form-action{
        text-align: center;
    }
    .wrapper-form-add-picture .wrapper-form-action > div{
        display: inline-block;
        margin: 0 5px;
    }
    .wrapper-form-add-picture.form-step-2 .col-md-4{
        padding-bottom: 0;
    }
    .bg-gray{
        background-color: #fff;
    }
    .region-sidebar-first{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        width: 80%;
        max-width: 400px;
        max-height: 100vh;
        overflow: auto;
    }
    #section-content:before{
        content: '';
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 998;
        background-color: rgba(0,0,0,0.7);
        opacity: 0;
        visibility: hidden;
        transition: all .5s;
    }
    body.show-sidebar #section-content:before{
        opacity: 1;
        visibility: visible;
    }
    #block-block-open-close-sidebar-mobile{
        position: absolute;
        top: 10px;
        right: 15px;
    }
    #block-block-open-close-sidebar-mobile .hamburger-inner{
        height: 0;
        width: 25px;
    }
    #block-block-open-close-sidebar-mobile .hamburger-inner:before{
        height: 3px;
        transform: rotate(45deg);
        top: -1px;
    }
    #block-block-open-close-sidebar-mobile .hamburger-inner:after{
        height: 3px;
        transform: rotate(-45deg);
        bottom: -2px;
    }
}

@media (max-width: 480px) {
	.view-id-front_page.view-display-id-page_3 .view-content .views-row ,
	.view-id-front_page.view-display-id-page_3 .grid-sizer
	{
		width: 100%;
	}
}
@media (max-width: 400px) {
    .site-logo img{
        max-width: 120px;
    }
    .region-logo .hamburger,
    .region-logo .block-user-mobile,
    .region-logo .block-dropdown-language{
        top: 2px;
    }
}