img{
	max-width: 100%;
}
img:not(.masonry) {
	height: auto;
}
a{
	color: #333;
	text-decoration: none;
	transition: all .3s;
}
a:hover{
	text-decoration: none;
}
.region-content{
	padding-top: 30px;
	padding-bottom: 50px;
}
.dexp-section .dexp-container{
	padding: 0 15px;
}
.bg-gray{
	background-color: #e4e8e9;
}
.flag-like{
	position: relative;
}
.flag-like .like-list{
	position: absolute;
	top: calc(100% + 5px);
	left: 0;
	margin: 0;
	padding: 15px 20px 0;
	min-width: 150px;
	max-height: 50vh;
	overflow: auto;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	list-style: none;
	background-color: #fff;
	display: inline-block;
	border-radius: 5px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	transition: all .3s;
}
.flag-like .like-list li:last-child{
	margin-bottom: 15px;
}
.flag-like .count:before{
	content: '';
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #fff;
	position: absolute;
	bottom: -5px;
	z-index: 10;
	display: block;
	left: 15px;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
}
.flag-like .like-list a{
	color: #172235;
}
.flag-like .like-list a:hover{
	color: #429ff3;
}
.flag-like.list-open .like-list,
.flag-like.list-open .count:before{
	opacity: 1;
	visibility: visible;
}
.flag-like a.flag-like-button{
	font-size: 0;
}
.flag-like a.flag-like-button:before{
	content: "\f087";
	font-family: FontAwesome;
	font-size: 18px;
	color: #fff;
}
.flag-like.action-unflag a.flag-like-button:before{
	color: #BD081C;
}
.flag-like .count{
	font-size: 14px;
	color: #fff;
	margin-left: 5px;
	cursor: pointer;
}
#commerce-product-pictures-add-form .layout-region-product-secondary{
	display: none;
}
#commerce-product-pictures-add-form .layout-region-product-main, 
#commerce-product-pictures-add-form .layout-region-product-footer{
	width: 100%;
	padding-right: 0;
}
#commerce-product-pictures-add-form .js-form-item-field-description-0-value label, 
#commerce-product-pictures-add-form .js-form-item-title-0-value label{
	display: none;
}

.view-front-page.view-id-front_page.view-display-id-page_3 {
	padding: 20px 0;
}
.view-front-page .pager{
	padding: 0;
	margin: 55px 0 30px;
	text-align: center;
}
.view-front-page .views-row{
	padding: 0 15px;
	margin-bottom: 30px;
}
.view-front-page .pager a.button{
	border-radius: 25px;
	margin: 0 5px;
	display: inline-block;
	padding: 10px 45px;
	line-height: 28px;
	color: #fff;
	font-weight: 500;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	border: 1px solid #5d6f85;
	background-color: #5d6f85;
}
.view-front-page .pager a.button:hover{
	background-color: transparent;
	color: #5d6f85;
}
.hide-sidebar .tranh-hot-theo-doi{
	margin-left: 40px;
	transition: all .3s;
}
.region-sidebar-first,
.region-sidebar-first h1,
.region-sidebar-first h2, 
.region-sidebar-first h3, 
.region-sidebar-first h4,
.region-sidebar-first h5,
.region-sidebar-first h6,
.region-sidebar-first a{
	color: #5d6f85;
}
.menu--left-menu-page ul.menu{
	margin-left: -15px;
	margin-right: -15px;
}
.menu--left-menu-page ul.menu li{
	padding: 0;
	margin: 0;
}
.menu--left-menu-page ul.menu li a{
	font-size: 14px;
	color: #5d6f85;
	padding: 12px 15px;
	display: block;
	border-bottom: 1px solid #d6dcdf;
}
.menu--left-menu-page ul.menu li a:hover, 
.menu--left-menu-page ul.menu li a.is-active{
	background-color: #5d6f85;
	color: #fff;
}
.menu--left-menu-page{
	margin-bottom: 40px;
}
.region-sidebar-first .view-categories{
	margin-left: -15px;
	margin-right: -15px;
}
.view-categories .item-list li{
	margin: 0;
	padding: 0;
}
.view-categories .item-list li a{
	font-size: 14px;
	color: #5d6f85;
	padding: 12px 15px;
	display: block;
	border-top: 1px solid #d6dcdf;
}
.view-categories .item-list li a:hover, .view-categories .item-list li a.is-active{
	background-color: #5d6f85;
	color: #fff;
}
.region-sidebar-first ul li a{
	position: relative;
}
.region-sidebar-first ul li a:before{
	content: "\f105";
	font-family: FontAwesome;
	font-size: 14px;
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
}
.view-grid-masonry .views-row{
	float: left;
	margin-bottom: 20px;
	position: relative;
	padding: 0;
    margin-right: 20px;
}
.view-grid-masonry .views-row.last-item{
        margin-right: 0;
}
.view-grid-masonry .views-row img{
	max-width: 100%;
	max-height: 100%;
	vertical-align: bottom;
	border-radius: 10px;
}
.view-grid-masonry .first-item {
 	clear: both;
}
.view-grid-masonry .views-row .product-img:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	border-radius: 10px;
	opacity: 0;
	z-index: 1;
	transition: all .3s;
}
.view-grid-masonry .views-row .field--name-title{
	position: absolute;
	top: 15px;
	left: 20px;
	font-size: 18px;
	line-height: 24px;
	opacity: 0;
	z-index: 2;
	font-weight: 500;
	width: auto;
	max-width: calc(100% - 60px);
	transition: all .3s;
}
.view-grid-masonry .views-row .profile{
	position: absolute;
	bottom: 15px;
	left: 20px;
	opacity: 0;
	z-index: 2;
	transition: all .3s;
}
.view-grid-masonry .views-row.product-small-width .profile{
    bottom: 50px;
}
.view-grid-masonry .views-row .profile > div{
	display: inline-block;
	vertical-align: middle;
}
.view-grid-masonry .views-row .profile .field--name-user-picture img{
	border-radius: 50%;
	margin-right: 10px;
	width: 50px;
	height: auto;
}
.view-grid-masonry .views-row .profile .field--name-field-ho-va-ten a{
	color: #fff;
	margin-right: 5px;
}
.view-grid-masonry .views-row .profile .flag-following a{
	padding: 0 10px;
	background-color: #bd081b;
	border-radius: 5px;
	line-height: 26px;
	color: #fff;
	display: block;
}
.view-grid-masonry .views-row .profile .flag-following .count{
	display: none;
}
.view-grid-masonry .views-row .field--name-title a{
	color: #fff;
}
.view-grid-masonry .views-row .product-like-comment{
	position: absolute;
	bottom: 20px;
	right: 20px;
	z-index: 2;
	opacity: 0;
	transition: all .3s;
}
.view-grid-masonry .views-row.product-small-width .product-like-comment{
    bottom: 15px;
    right: auto;
    left: 20px;
}
.view-grid-masonry .views-row .product-like{
    display: inline-block;
    margin-right: 10px;
}
.view-grid-masonry .views-row .product-comment{
    color: #fff;
    display: inline-block;
}
.view-grid-masonry .views-row .product-comment i{
    margin-right: 5px;   
}
.view-grid-masonry .views-row:hover .field--name-title,
.view-grid-masonry .views-row:hover .field--name-field-chon-categories ,
.view-grid-masonry .views-row:hover .product-like-comment,
.view-grid-masonry .views-row:hover .product-img:before,
.view-grid-masonry .views-row:hover .profile
{
	opacity: 1;
}
.view-grid-masonry .pager{
	margin: 0;
}
.view-grid-masonry .pager .pager__items{
	margin: 30px 0 50px;
}
.view-grid-masonry .pager .pager__item{
    padding: 20px 10px 0;
}
.view-grid-masonry .pager .pager__item a{
    font-size: 16px;
    line-height: 20px;
    color: #429ff3;
}
.view-grid-masonry .pager .pager__item a:hover{
    color: #bd081b;
}
.product-image-single, .product-image-fullsize{
	position: relative;
    text-align: center;
}
.product-image-single .img-responsive{
	max-height: 70vh;
    width: auto;
    cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
}
.product-image-fullsize .img-fullsize{
    display: none;
    width: auto;
    height: auto;
    max-width: 100%;
	cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
    margin: 50px 0 30px;
}
.single-product .btn-process{
	display: inline-block;
	position: absolute;
	top: -90px;
	right: 0;
}
.single-product .btn-process > div{
	display: inline-block;
    vertical-align: top;
	margin: 0 -1px;
}
.single-product .btn-save-wishlist .field--name-unit-price{
    display: none;
}
.single-product .btn-save-wishlist .form-actions{
	margin: 0;
}
.single-product .btn-save-wishlist .wrapper-field-input input{
	display: none;
}
.single-product .btn-save-wishlist .wrapper-field-input [id^="edit-wishlist"]{
	display: block;
	background-color: #eceff0;
	font-size: 14px;
	line-height: 26px;
	color: #5d6f85;
	border-radius: 0;
	font-weight: 500;
	border: none;
	text-transform: uppercase;
	padding: 7px 10px 7px 30px;
	background-image: url(../images/icon-save.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 8px 10px;
	transition: all .3s;
}
.single-product .btn-delete-product a{
	display: block;
	font-size: 14px;
	line-height: 26px;
	background-color: #eceff0;
	color: #5d6f85;
	font-weight: 500;
	border: none;
	padding: 7px 10px 7px 30px;
	background-image: url(../images/icon-delete.png);
	background-repeat: no-repeat;
	background-size: auto;
	text-transform: uppercase;
	background-position: 8px 10px;
	transition: all .3s;
}
.single-product .btn-download .file-size{
	display: none;
}
.single-product .btn-download a{
	display: block;
	font-size: 14px;
	line-height: 26px;
	background-color: #eceff0;
	color: #5d6f85;
	font-weight: 500;
	border: none;
	padding: 7px 10px;
	text-transform: uppercase;
	transition: all .3s;
}
.single-product .btn-download a:before{
	content: "\f019";
	font-family: FontAwesome;
	font-size: 14px;
	display: inline-block;
	line-height: 24px;
	margin-right: 5px;
}
.single-product .product-header{
	margin-left: 110px;
	margin-top: 45px;
	position: relative;
}
.single-product .product-title{
	font-size: 24px;
	font-weight: 500;
	color: #5d6f85;
	margin-bottom: 15px;
	margin-right: 50px;
}
.single-product .btn-like-share{
	position: absolute;
	top: 0;
	right: 0;
}
.single-product .btn-like{
	margin-top: 3px;
	margin-right: 15px;
}
.single-product .btn-like, .single-product .btn-share{
	display: inline-block;
	vertical-align: top;
}
.single-product .btn-like .flag-like a.flag-like-button::before{
	color: #5d6f85;
	font-size: 24px;
	line-height: 24px;
}
 .single-product .btn-like .flag-like .count{
	color: #5d6f85;
	font-size: 18px;
	line-height: 24px;
}
.single-product .btn-like .flag-like.action-unflag a.flag-like-button::before{
	color: #BD081C;
}
.single-product .btn-share a{
	font-size: 14px;
	line-height: 28px;
	text-transform: uppercase;
	color: #5d6f85;
	border: 1px solid #5d6f85;
	border-radius: 5px;
	display: block;
	padding: 0 15px;
}
.single-product .product-author{
	margin-bottom: 20px;
}
.single-product .user-picture img{
	border-radius: 50%;
	width: 100px;
	height: auto;
	position: absolute;
	top: -60px;
	left: 0;
}
.single-product .profile-user{
	position: relative;
	font-size: 18px;
}
.single-product .profile-content{
	margin-left: 110px;
	position: relative;
}
.single-product .product-description,
.single-product .product-dung-cu{
    margin-left: 110px;
    font-weight: 400;
    color: #5d6f85;
    font-size: 16px;
}
.single-product .product-dung-cu{
    margin-top: 10px;
    margin-bottom: 30px;
}
.single-product .product-dung-cu .title{
    font-weight: 500;
}
.single-product .product-dung-cu .field--name-field-dung-cu{
    display: inline-block;
}
.single-product .user-proccess{
	position: absolute;
	top: 0;
	right: 0;
}
.single-product .user-follow{
	margin-right: 15px;
}
.single-product .user-follow, .single-product .user-report{
	display: inline-block;
}
.single-product .flag-following a, .single-product .user-report a{
	color: #429ff3;
	border: none;
	font-weight: 400;
	background-color: transparent;
}
.single-product .flag-following a:hover, 
.single-product .user-report a:hover,
.single-product .user-name .field--name-field-ho-va-ten a:hover{
	color: #bd081b;
}
.single-product .user-name .field--name-field-ho-va-ten{
	display: inline-block;
}
.single-product .user-name .field--name-field-ho-va-ten a{
	color: #429ff3;
}
.single-product .user-name span{
	color: #5d6f85;
	font-weight: 400;
}
.single-product .page-title-product{
	color: #5d6f85;
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 60px;
}
.single-product .product-comment{
	border-top: 2px solid #dfe2e7;
	padding-top: 30px;
}
.block-single-product-ad{
    margin-top: 60px;
}
.single-product .product-content-mobile{
    display: none;
}
.single-product .product-content-mobile .product-title{
    font-size: 14px;
    margin: 20px 0 0 60px;
}
.comment-row .card-header{
	display: none;
}
.single-product .product-comment ul{
	margin: 0;
	padding: 0;
}
.comment-row{
	list-style: none;
	padding: 30px 0;
	border-bottom: 1px solid #eceff0;
}
.comment-row .card{
	border: none;
}
.comment-row .card-body{
	padding: 0;
}
.comment-row .comment-avatar{
	width: 50px;
	height: 50px;
	float: left;
}
.comment-row .comment-avatar img{
	width: 50px;
	height: auto;
	border-radius: 50%;
}
.comment-row .right-info-user{
	display: none;
}
.comment-row .left-info-user{
	max-width: 100%;
	flex: 0 0 100%;
}
.comment-row .comment-content{
	margin-left: 70px;
}
.comment-row .comment-heading{
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 0;
}
.comment-row .comment-heading a{
	color: #429ff3;
	font-size: 18px;
}
.comment-row .comment-heading a:hover{
	color: #bd081b;
}
.comment-row .comment-date{
	color: #5d6f85;
	font-weight: 400;
}
.comment-row .comment-text{
	color: #5d6f85;
	font-weight: 400;
	font-size: 16px;
}
.comment-row ul.links{
    display: block;
    width: 100%;
    text-align: right;
    margin-top: 10px;
}
.comment-row ul.links a{
    color: #429ff3;
}
.comment-row ul.links a:hover{
    color: #bd081b;
}
#comments-wrapper .indented{
	padding-left: 30px;
}
.comment-form-wrapper{
	margin-top: 50px;
	margin-bottom: 20px;
}
.comment-form-wrapper .field--name-field-comment-body label{
    display: none;
}
.comment-form-wrapper .form-actions{
    text-align: right;
}
.comment-form-wrapper .form-submit{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    font-weight: 500;
    padding: 3px 30px;
    border: 2px solid #bd081b;
    background-color: #bd081b;
    color: #fff;
    text-align: center;
    border-radius: 25px;
}
.comment-form-wrapper .form-submit:hover{
    background-color: transparent;
    color: #bd081b;
}
.block-user-product-block .product-author{
	margin-bottom: 20px;
}
.block-user-product-block .product-author > div{
	display: inline-block;
	font-size: 18px;
	line-height: 50px;
	color: #5d6f85;
}
.block-user-product-block .product-author img{
	width: 50px;
	border-radius: 50%;
	margin-right: 20px;
}
.block-user-product-block .view-gallery{
	text-align: center;
	font-size: 18px;
}
.block-user-product-block .product-author .author-name a,
.block-user-product-block .view-gallery a{
	color: #429ff3;
}
.block-user-product-block .product-author .author-name a:hover,
.block-user-product-block .view-gallery a:hover{
	color: #bd081b;
}
.view-product .product-related, 
.view-product-categories .product-related {
	position: relative;
}
.view-product .product-related .product-img img,
.view-product-categories .product-related .product-img img{
	border-radius: 5px;
}
.view-product .product-related .product-img a:before,
.view-product-categories .product-related .product-img a:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	border-radius: 5px;
	opacity: 0;
	z-index: 1;
	transition: all .3s;
}
.view-product .product-related .product-title,
.view-product-categories .product-related .product-title {
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: calc(100% - 20px);
	z-index: 2;
	opacity: 0;
	transition: all .3s;
}
.view-product .product-related .product-title a,
.view-product-categories .product-related .product-title a{
	color: #fff;
}
.view-product .product-related .product-title a:hover,
.view-product-categories .product-related .product-title a:hover{
	color: #bd081b;
}
.view-product .product-related:hover .product-img a:before,
.view-product .product-related:hover .product-title,
.view-product-categories .product-related:hover .product-img a:before,
.view-product-categories .product-related:hover .product-title{
	opacity: 1;
}
.region-sidebar-second .block-title{
	font-size: 18px;
	color: #5d6f85;
	margin-bottom: 35px;
}
.product-pagination{
	text-align: left;
}
.product-pagination a{
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 30px;
	letter-spacing: 0.075em;
	color: #5d6f85;
	padding: 5px 15px;
	background-color: #eceff0;
}
.product-pagination i{
	margin-right: 5px;
}
.product-pagination a.btn-next i{
	margin-right: 0;
	margin-left: 5px;
}
.product-pagination a.btn-all{
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.user-login-form .form-item input,
.user-register-form .form-item input,
.user-register-form .form-item select{
 	max-width: 100%;
}
.user-login-form .form-item .form-checkbox{
    width: auto !important;
    display: inline-block;
}
.form-item-persistent-login > div, 
.form-item-persistent-login > label{
    display: inline-block;
}
.form-item-persistent-login,
.user-login-loss-pass{
    float: left;
    width: 50%;
}
.user-login-loss-pass{
    text-align: right;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 400;
}
.user-login-loss-pass a{
    color: #c3c5c6 !important;
}
.user-login-loss-pass a:hover{
    color: #337ab7 !important;
}
.user-register-form{
    max-width: 400px;
}
.user-login-form .form-item input,
.user-register-form .form-item input,
.user-register-form .form-item select{
    width: 100%;
}
.user-register-form .form-item input.form-checkbox{
    width: auto;
}
.ui-dialog-buttonset .form-submit,
.ui-dialog-buttonset .dialog-cancel,
.user-register-form .form-submit,
.user-login-form .form-submit{
	border-radius: 20px;
	font-size: 12px;
	margin: 0 5px;
	display: inline-block;
	padding: 5px 25px;
	min-width: 120px;
	text-align: center;
	line-height: 28px;
	color: #fff;
	font-weight: 500;
	letter-spacing: 0.075em;
	text-transform: uppercase;
	border: 1px solid #018d0e;
	background-color: #018d0e;
}
.user-login-form .form-actions{
    clear: both;
}
.user-login-form .form-actions .form-submit{
    margin: 0;   
}
.ui-dialog .use-login-link-register{
    text-align: center;
}
.use-login-link-register{
    color: #5d6f85;
    font-weight: 400;
    margin-top: 20px;
}
.use-login-link-register a{
    color: #bd081b;
}
.use-login-link-register a:hover{
    color: #337ab7;
}
.ui-dialog-buttonset .form-submit.btn-primary,
.user-register-form .form-submit.btn-primary{
    border-color: #f39942;
    background-color: #f39942;
}
.ui-dialog-buttonset .dialog-cancel{
    border-color: #429ff3;
    background-color: #429ff3;
}
.ui-dialog-buttonset .dialog-cancel:hover{
    background-color: transparent;
    color: #429ff3;
}
.ui-dialog-buttonset{
	text-align: center;
}
.ui-dialog-buttonset .form-submit:hover,
.user-login-form .form-submit:hover{
	background-color: transparent;
	color: #018d0e;
}
.ui-dialog-buttonset .form-submit.btn-primary:hover,
.user-register-form .form-submit.btn-primary:hover{
    background-color: transparent;
	color: #f39942;
}
.user-login-form{
    max-width: 400px;
}
.profile-detail .left-info-user{
    float: left;
}
.profile-detail .right-info-user{
    display: block;
    margin-left: 115px;
}
.profile-detail .card-body{
    position: relative;
}
.profile-detail .btn-edit-user{
    display: inline-block;
    position: absolute;
    top: 15px;
    right: 15px;
}
.profile-detail .btn-edit-user a{
    line-height: 26px;
    color: #429ff3;
    display: block;
    text-decoration: underline;
}
.profile-detail .btn-edit-user a:hover{
    color: #bd081b;
}
.profile-detail .flag-following .count{
    display: none;
}
.album-picture{
    border: 1px solid #e1e3e4;
    border-radius: 5px;
    margin: 50px 0;
}
.album-header{
    background-color: #eceff0;
    border-bottom: 1px solid #e1e3e4;
}
.album-header .album-nav{
    padding: 0;
    margin: 0;
}
.album-header .album-nav li{
    display: inline-block;
}
.album-header .album-nav li a{
    color: #5d6f85;
    line-height: 40px;
    padding: 10px 15px;
    font-size: 16px;
}
.album-header .album-nav li a.active{
    color: #172235;
    position: relative;
}
.album-header .album-nav li a.active:after{
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    position: absolute;
    bottom: -1px;
    left: calc(50% - 3px);
    
}
.album-picture .view-product .view-content:before,
.album-picture .view-product .view-content:after,
.album-picture .view-front-page .view-content:before,
.album-picture .view-front-page .view-content:after{
    content: '';
    display: table;
    clear: both;
}
.album-picture .album-content{
    padding: 15px;
}
.album-picture.profile-picture .wishlist-product{
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: all .3s;
}
.album-picture.product-wishlist .user-product{
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: all .3s;
}
.album-picture.profile-picture .wishlist-product .views-row,
.album-picture.product-wishlist .user-product .views-row{
    float: none;
}
.album-picture.profile-picture .user-product{
    opacity: 1;
    visibility: visible;
    height: auto;
    transition: all .3s;
}
.album-picture.product-wishlist .wishlist-product{
    opacity: 1;
    visibility: visible;
    height: auto;
    transition: all .3s;
}
.comment-row .album-picture,
.comment-row .btn-edit-user{
    display: none;
} 
.comment-form .form-text{
    width: 100%;
    max-width: 100%;
}
.btn-submit-comment-anonymous{
		position: absolute;
		top: 0;
		right: 0;
		z-index: 2;
		width: 140px;
		height: 40px;
		border-radius: 20px;
}
.block-pagination-product-block{
    margin: 30px 0 50px;
}
article.profile-detail,
article.profile-detail .field__label{
    font-weight: 400;
    color: #5d6f85;
}
article.profile-detail .name-user .field--name-field-ho-va-ten{
    font-size: 18px;
    font-weight: 500;
    color: #172235;
}
article.profile-detail .name-user{
    margin-bottom: 5px;
}
article.profile-detail .field--name-field-gioi-tinh .field__item,
article.profile-detail .field--name-field-nam-sinh .field__item,
article.profile-detail .count-user-follow .number,
article.profile-detail .count-follow-user .number{
    color: #172235;
}
article.profile-detail .count-user-follow{
	margin-right: 20px;
}
article.profile-detail .count-user-follow,
article.profile-detail .count-follow-user{
	cursor: pointer;
}
article.profile-detail .count-user-follow:before,
article.profile-detail .count-follow-user:before{
	content: '';
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #fff;
	position: absolute;
	bottom: -5px;
	z-index: 10;
	display: block;
	left: 15px;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
}
article.profile-detail .user-follow,
article.profile-detail .follow-user{
	display: inline-block;
	position: relative;
}
article.profile-detail .user-follow .user-follow-list,
article.profile-detail .follow-user .follow-user-list{
	position: absolute;
	top: calc(100% + 5px);
	left: 0;
	margin: 0;
	padding: 15px 20px 0;
	min-width: 150px;
	max-height: 50vh;
	overflow: auto;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	list-style: none;
	background-color: #fff;
	display: inline-block;
	border-radius: 5px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	transition: all .3s;
}
article.profile-detail .user-follow.list-open .user-follow-list,
article.profile-detail .follow-user.list-open .follow-user-list,
article.profile-detail .user-follow.list-open .count-user-follow:before,
article.profile-detail .follow-user.list-open .count-follow-user:before{
	opacity: 1;
	visibility: visible;
}
article.profile-detail .user-follow .user-follow-list li:last-child,
article.profile-detail .follow-user .follow-user-list li:last-child{
	margin-bottom: 15px;
}
article.profile-detail .user-follow .user-follow-list a,
article.profile-detail .follow-user .follow-user-list a{
	color: #172235;
}
article.profile-detail .user-follow .user-follow-list a:hover,
article.profile-detail .follow-user .follow-user-list a:hover{
	color: #429ff3;
}
.ajax-comments-form-reply .form-item label,
.ajax-comments-form-edit .form-item label{
    display: none;
}
.ajax-comments-form-reply .form-actions,
.ajax-comments-form-edit .form-actions{
    text-align: right;
}
.ajax-comments-form-reply .form-actions > div,
.ajax-comments-form-edit .form-actions > div{
    display: inline-block;
    margin-left: 10px;
}
.ajax-comments-form-reply .form-actions .button,
.ajax-comments-form-edit .form-actions .button{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    font-weight: 500;
    padding: 3px 30px;
    border: 2px solid #429ff3;
    background-color: #429ff3;
    color: #fff;
    text-align: center;
    border-radius: 25px;
}
.ajax-comments-form-reply .form-actions .button:hover,
.ajax-comments-form-edit .form-actions .button:hover{
    background-color: transparent;
    color: #429ff3;
}
.ajax-comments-form-reply .form-actions .button.btn-submit-comment,
.ajax-comments-form-edit .form-actions .button.btn-submit-comment{
    border-color: #bd081b;
    background-color: #bd081b;
}
.ajax-comments-form-reply .form-actions .button.btn-submit-comment:hover,
.ajax-comments-form-edit .form-actions .button.btn-submit-comment:hover{
    background-color: transparent;
    color: #bd081b;
}
.change-pwd-form{
    max-width: 400px;
    margin: auto;
}
.change-pwd-form input{
    max-width: 100%;
    width: 100%;
}
.change-pwd-form .form-submit,
.user-form .form-submit{
    width: auto;
    text-align: center;
    border-radius: 20px;
    margin: 0 5px;
    display: inline-block;
    padding: 5px 30px;
    font-size: 12px;
    line-height: 28px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    border: 1px solid #bd081b;
    background-color: #bd081b;
}
.path-search .search-form{
	margin-top: 30px;
}
.path-search h2{
	margin: 20px 0;
	font-size: 20px;
	line-height: 26px;
}
.path-search .search-form .search-help-link{
	margin-top: 20px;
	display: block;
}
.search-results{
	padding: 0;
	margin: 0 0 30px;
}
.search-results li{
	margin: 0;
}
.search-results a{
	color: #333;
}
.search-results a:hover{
	color: #429ff3;
}
.search-result__title{
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 15px;
}