.region-sidebar-first .block h2 {
	font-size: 14px;
	margin-bottom: 20px;
}

.region-sidebar-first .block ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.user-logged-in .user-form  .field--name-field-nam-sinh {
	width: 50%;
	float: left;
	padding-right: 15px;
}

h4.label{
	font-weight: normal;
	margin-bottom: .5rem;
	display: inline-block;
	line-height: 21px;
}

.user-logged-in .user-form  .wrapper-hien-thi-ngay {
	width: 50%;
	float: left;
	padding-left: 15px;
	min-height: 1px;
}

.user-logged-in .user-form  .wrapper-hien-thi-ngay .form-item:first-child {
	margin-top: 0px;
}

/*
 * Form User 
 */
 .user-form #password-policy-status {
	 display: none;
 }

.user-form > div:not(.field--name-field-term) .description,
.user-login-form .description
{
	display: none;
}

.form-item-field-term-value .form-checkbox {
	float: left;
	margin-top: 6px;
}

.form-item-field-term-value label.option {
	display: none;
}

.user-form .form-actions  .button {
	min-width: 120px;
}

.password-confirm, .password-field, .password-strength, .password-confirm-match {
	width: 100%;
}

.confirm-parent, .password-parent {
	max-width: 100%;
}

@media (min-width: 768px) {
	.profile .user-form .form-wrapper > .form-item {
		width: 50%;
		padding-right: 15px;
		display: table;
	}

	.profile .user-form .form-wrapper > .form-item > label {
		display: table-cell;
		width: 100px;
		margin: 0;
		vertical-align: middle;
	}

	.profile .user-form .form-wrapper > .form-item > .wrapper-field-input {
		display: table-cell;
	}

	.profile .user-form .field--name-field-nam-sinh .wrapper-input-datetime {
		display: table;
		width: 100%;
	}

	.profile .user-form .field--name-field-nam-sinh .wrapper-input-datetime .label {
		display: table-cell;
		width: 100px;
		vertical-align: middle;
	}

	.profile .user-form .field--name-field-nam-sinh .wrapper-input-datetime .container-inline {
		display: table-cell;
	}

	.profile .user-form .form-wrapper.field--name-field-hien-thi > .form-item ,
	.profile .user-form .form-wrapper.field--name-field-tuy-ch > .form-item
	{
		width: 100%;
	}

	.profile .user-form .form-wrapper.field--name-field-hien-thi > .form-item > label,
	.profile .user-form .form-wrapper.field--name-field-tuy-ch > .form-item > label
	{
		display: none;
	}

	.profile .user-form .form-actions {
		padding-left: calc( 25% + 15px );
	}



}




/* Menu Sidebar */
.hamburger {
	font: inherit;
	display: inline-block;
	overflow: visible;
	margin: 0;
	padding: 0px;
	cursor: pointer;
	transition-timing-function: linear;
	transition-duration: .15s;
	transition-property: opacity,filter;
	text-transform: none;
	color: inherit;
	border: 0;
	background-color: transparent;
}

.hamburger-inner {
	top: 50%;
	display: block;
	margin-top: -2px;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
	position: absolute;
	width: 20px;
	height: 3px;
	transition-timing-function: ease;
	transition-duration: .15s;
	transition-property: transform;
	border-radius: 0px;
	background-color: #5d6f85;
}

.hamburger-inner:after, .hamburger-inner:before {
	display: block;
	content: "";
}

.hamburger-inner:before {
	top: -7px;
}

.hamburger-inner:after {
	bottom: -7px;
}

.hamburger-box {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 30px;
}

#block-blockopenclosesidebar {
	position: absolute;
	top: 33px;
	right: 20px;
	z-index: 2;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
}

.region-sidebar-first {
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

.dexp-container.hide-sidebar .region-sidebar-first {
	-moz-transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	flex: 0;
	width: 0px;
	padding: 0px;
	position: relative;
	z-index: 2;
}

.dexp-container.hide-sidebar #block-leftmenupage,
.dexp-container.hide-sidebar #block-views-block-categories-block-1,
.dexp-container.hide-sidebar #block-search-form-mobile,
.dexp-container.hide-sidebar #block-kham-pha-dang-tranh-mobile{
	display: none;
}

.dexp-container.hide-sidebar #block-blockopenclosesidebar {
	right: -40px;
}

.tabs.primary a:focus, .tabs.primary a:hover,.tabs.primary a.is-active {
	background-color: #6fa8dc;
	color: #fff;
}

.dexp-sticky {
	z-index: 3;
}

#block-footercopyright-2 p {
	margin-top: 1rem;
}

#section-footer-bootom {
	text-align: center;
	border-top: 1px solid #dfe2e7;
}
.ui-dialog-titlebar-close {
	position: absolute;
	right: 10px;
	width: 20px;
	height: 20px;
	background: url(../images/silver-close-button-png-15.png) no-repeat;
	background-size: 100% 100%;
	top: 50%;
	margin-top: -10px;
}

.ui-dialog-titlebar {
	padding:5px 20px;
	position: relative;
}

.ui-dialog-content {
	padding: 20px;
}

/* Form edit product **/
.layout-region-product-main, .layout-region-product-footer {
	width: 100%;
	padding-right: 0em;
	float: none;
}

.commerce-product-pictures-edit-form .entity-meta.form-wrapper {
	display: none;
}

.commerce-product-pictures-edit-form  .form-actions .wrapper-field-input {
	display: inline-block;
	margin-right: 10px;
}

.commerce-product-pictures-edit-form  .form-actions .wrapper-field-input .btn {
	min-width: 200px;
}

/* Page */
.view-id-front_page.view-display-id-page_3 .view-content .views-row ,
.view-id-front_page.view-display-id-page_3 .grid-sizer
{
	width: 20%;
}

article.profile-detail .card{

}

.card .card-header {
	background: #eceff0;
}

article.profile-detail .name-user .field--name-field-ho-va-ten,
article.profile-detail .name-user .field--name-field-ho-va-ten + div {
	display: inline-block;
	margin-right: 20px;
}

.flag-following a {
	padding: 0 10px;
	background-color: #bd081b;
	border-radius: 5px;
	line-height: 26px;
	color: #fff;
	display: inline-block;
}