{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<a class="product-img" href="{{ product_url }}"><img class="masonry" alt="{{ product_entity.title.value }}" src="{{ getUrlProductStyle('picture_style_masonry', product_entity.field_picture_image.entity.fileuri) }}" width="auto" height="320" /></a>
{{ product.title }}
{{ product.uid }}
<div class="product-like-comment">
    <div class="product-like">{{ product.flag_like }}</div>
    <div class="product-comment"><i class="fa fa-comment"></i>{{ product_comment_count(product_entity) }}</div>
</div>