{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'commerce-product-picture'
  ] 
%}

{% if product_entity.field_picture_image.entity.fileuri is not empty %}
<a href="{{ product_url }}">
  <img alt="{{ product_entity.title.value }}"
       src="{{ file_url(product_entity.field_picture_image.entity.fileuri) }}"
       data-image="{{ file_url(product_entity.field_picture_image.entity.fileuri) }}"
       data-description="{{ product_entity.title.value }}"
       style="display:none">
</a>
{% endif %}