{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'commerce-product-picture',
	'single-product'
  ] 
%}

<article{{ attributes.addClass(classes) }}>
	<div class="product-image-wrapper">
		{% set puid = get_uid_from_pid(product_entity.id) %}
        {% set current_uid = current_uid() %}
        <div class="product-image-fullsize">
            <img class="img-fullsize" alt="{{ product_entity.title.value }}" src="{{ file_url(product_entity.field_picture_image.entity.fileuri) }}" />
        </div>
        <div class="product-image-single">
            <img class="img-responsive" alt="{{ product_entity.title.value }}" src="{{ file_url(product_entity.field_picture_image.entity.fileuri) }}" />
            <div class="btn-process">
                {% if (puid == current_uid) or (is_admin() == 1) %}
                    <div class="btn-delete-product">
                        <a href="{{ url('<front>') }}product/{{ product_entity.id }}/delete">{{ 'Xóa'|t }}</a>
                    </div>
                {% endif %}
                <div class="btn-save-wishlist">{{ product.variations }}</div>
                {% if product_entity.field_cho_phep_download.value == 1 %}
                    <div class="btn-download">{{ product.field_picture_image }}</div>
                {% endif %}
            </div>
        </div>
	</div>
    <div class="product-content">
        <div class="product-header">
            <h3 class="product-title">{{ product_entity.title.value }}</h3>
            <div class="btn-like-share">
                <div class="btn-like">{{- product.flag_like -}}</div>
                <div class="btn-share">
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ url('<front>') }}{{ product_url }}&t={{ product_entity.title.value }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on Facebook">{{ 'Share'|t }}</a>
                </div>
            </div>
        </div>
        <div class="product-author">
            {{ product.uid }}
        </div>
        <div class="product-description">
            {{ product.field_description }}
        </div>
        <div class="product-dung-cu">
            <span class="title">{{ '✪ Dụng cụ sử dụng: '|t }}</span>{{ product.field_dung_cu }}
        </div>
    </div>
    <div class="product-content-mobile">
        <h3 class="product-title">{{ product_entity.title.value }}</h3>
        <div class="product-author">
            {{ product.uid }}
        </div>
        <div class="product-description">
            {{ product.field_description }}
        </div>
        <div class="product-dung-cu">
            <span class="title">{{ '✪ Dụng cụ sử dụng: '|t }}</span>{{ product.field_dung_cu }}
        </div>
        <div class="btn-like-share">
            <div class="btn-like">{{- product.flag_like -}}</div>
            <div class="btn-share">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ url('<front>') }}{{ product_url }}&t={{ product_entity.title.value }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank" title="Share on Facebook">{{ 'Share'|t }}</a>
            </div>
        </div>
    </div>
	<div class="product-comment">
		{{ product.field_comments }}
	</div>
</article>
