.password-strength__title,.password-strength__text{display:inline}.password-strength__meter{height:.75em;margin-top:.5em;background-color:lightgray}.password-strength__indicator{height:100%;width:0;background-color:gray}.password-confirm-match{visibility:hidden}