{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'views-view-dexp-grid',
    'clearfix',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}
  {% if filters %}
    <div class="grid-filter">
      {% for filter in filters %}
        <ul data-grid="#{{ id }}" class="dexp-grid-filter">
          {% if show_all %}
            <li><a href="#all" data-filter="*" class="active">{{ show_all }}</a></li>
          {% endif %}
          {% for term in filter %}
            <li><a href="#{{ term.data_filter }}" data-filter="{{ term.data_filter }}">{{ term.name }}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  {% endif %}
  
  <div class="dexp-grid-inner">
    {% for row in items %}
      <div{{ row.attributes }}>{{ row.content }}</div>
    {% endfor %}
  </div>
  <div class="dexp-grid-sizer" style="display: none"></div>
</div>
<div id="dexp-grid-message"><span>Saving...</span></div> 