$color_text: #767676;
$color_white: #fff;
$color_black: #000;
$color_hover: #009a3b;
$color_primary: #009a3b !default;
$gray-dark:   #333 !default;
$gray-light:  #eceeef !default;

$bg_header: #fff;
$bg_body: #fff;
$bg_footer_top: #222222;
$bg_footer: #000000;

$h1_color:$color_text;
$h2_color:$color_text;
$h3_color:$color_text;
$h4_color:$color_text;
$h5_color:$color_text;
$h6_color:$color_text;

$h1_font_size:36;
$h2_font_size:36;
$h3_font_size:22;
$h4_font_size:18;

$break_point: 992;
$container: 1200px;
