.ui-dialog ul.links li{
  display: inline-block;
  margin-right: 10px;
}
.ui-dialog ul.links li a{
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
  font-size: 120%;
}
ul.dexp-image-browser-tabs{
  margin: 15px 0;
  padding: 0;
  width: 100%;
}

ul.dexp-image-browser-tabs li{
  display: inline-block;
  margin-right: 30px;
  font-size: 15px;
  font-weight: 600;
}
.image-browser-wrapper img, .image-browser-wrapper input{
  display: inline-block;
  vertical-align: middle;
}
.dexp-image-browser-library-form .views-col{
  position: relative;
  box-sizing: border-box;
  /* padding: 10px; */
  border: 1px solid #fff;
  background: #eee;
  padding: 10px;
}
.dexp-image-browser-library-form .views-col img{
  max-width: 100%;
  height: auto;
}
.dexp-image-browser-library-form .views-col .views-field-entity-browser-select{
  display: inline-block;
  margin-right: 5px;
}
.dexp-image-browser-library-form .views-col .views-field-filename{
  display: inline-block;
}
.dexp-image-browser-library-form .views-col.selected:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.5);
}
.image-browser-wrapper .remove{
  display: none;
}
.image-browser-wrapper.file-selected .browser{
  display: none;
}
.image-browser-wrapper.file-selected .remove{
  display: inline-block;
}
.image-browser .image-preview{
  border: 1px solid #ddd;
  padding: 3px;
  background-color: #efefef;
  display: none;
}
.image-browser.has-image{
  display: table;
  width: 100%;
}
.image-browser.has-image .image-preview{
  display: inline-block;
}
.image-browser.has-image .image-preview img{
  max-width: 50px;
  max-height: 50px;
}
.image-browser .image-remove{
  display: none;
}
.image-browser.has-image .image-remove{
  display: inline-block;
}
.view-dexp-image-browser .views-row{
  display: flex;
}